﻿<!DOCTYPE html>
<html>
    <head>
        <title>Phần mềm quản lý checkin sự kiện </title>
        <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/plugins/font-awesome/css/font-awesome.min.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/plugins/bootstrap-datepicker/css/datepicker.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/plugins/bootstrap-timepicker/compiled/timepicker.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/plugins/uniform/css/uniform.default.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/plugins/chosen-bootstrap/chosen/chosen.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
        @*<link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css" />*@
    </head>
    <body style="background-color: #E9E9EE;height:100%;">
        <div class="navbar navbar-inverse navbar-fixed-top menu-bar">
            @Html.Action("Header","Common")
        </div>
        <div id="dialog-system">
        </div>
        @*background-color: #F5F5FA;*@
        <div class="container body-content" style=" margin:0 auto;width:1140px; background-color: #FFF;min-height:calc(100%);" id="main-content">
            @RenderBody()
        </div>
        <script src="@Url.Content("~/Scripts/jquery-1.8.3.min.js")" type="text/javascript"  charset="utf-8"></script>
        <script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript" charset="utf-8"></script>
        <script src="@Url.Content("~/Content/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js")" type="text/javascript" charset="utf-8"></script>
        <script src="@Url.Content("~/Content/plugins/bootstrap-timepicker/js/bootstrap-timepicker.js")" type="text/javascript" charset="utf-8"></script>
        <script src="@Url.Content("~/Content/plugins/uniform/jquery.uniform.min.js")" type="text/javascript" charset="utf-8"></script>
        <script src="@Url.Content("~/Content/plugins/chosen-bootstrap/chosen/chosen.jquery.min.js")" type="text/javascript" charset="utf-8"></script>
        <script src="@Url.Content("~/Scripts/Main.js")" type="text/javascript" charset="utf-8"></script>
        <script src="@Url.Content("~/Scripts/Users.js")" type="text/javascript" charset="utf-8"></script>
        <script src="@Url.Content("~/Scripts/InviteEvent.js")" type="text/javascript" charset="utf-8"></script>
        <script src="@Url.Content("~/Scripts/StatisticInvitee.js")" type="text/javascript" charset="utf-8"></script>
        <script src="@Url.Content("~/Scripts/CheckInTimer.js")" type="text/javascript" charset="utf-8"></script>
        <script src="@Url.Content("~/Scripts/Event.js")" type="text/javascript" charset="utf-8"></script>
        <script src="@Url.Content("~/Scripts/RegisteredInvitee.js")" type="text/javascript" charset="utf-8"></script>
        <script src="@Url.Content("~/Scripts/LuckyNumber.js")" type="text/javascript" charset="utf-8"></script>
        <script src="@Url.Content("~/Scripts/Session.js")" type="text/javascript" charset="utf-8"></script>
        <script src="@Url.Content("~/Scripts/AssignToSale.js")" type="text/javascript" charset="utf-8" ></script>
        <script type="text/javascript">
            main_frame.init();
        </script>
        @RenderSection("Script",false)
    </body>
</html>
