﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Trang chủ</title>
    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css" />
    <!--[if IE 8]>
    <link href="css/ie8.css" rel="stylesheet" type="text/css" />
    <![endif]-->
</head>
<body>
    <section>
         <div class="list-logo">
            <div class="item-logo"><a href="#"><img src="../../Content/images/logo-1.png" alt=""></a></div>
            <div class="item-logo"><a href="#"><img src="../../Content/images/logo-2.png" alt=""></a></div>
            <div class="item-logo"><a href="#"><img src="../../Content/images/logo-3.png" alt=""></a></div>
            <div class="item-logo"><a href="#"><img src="../../Content/images/logo-4.png" alt=""></a></div>
            <div class="item-logo"><a href="#"><img src="../../Content/images/logo-5.png" alt=""></a></div>
         </div>
         <h2>Gala dinner</h1>
         <h3>Kỷ niệm 11 năm thành lập Đại Việt Group</h2>
         @RenderBody()
    </section>
    <script src="@Url.Content("~/Scripts/jquery-1.8.3.min.js")" type="text/javascript"  charset="utf-8"></script>
    <script src="@Url.Content("~/Scripts/Main.js")" type="text/javascript" charset="utf-8"></script>
    <script src="@Url.Content("~/Scripts/jquery.easing.1.3.js")" type="text/javascript" charset="utf-8"></script>
    <script src="@Url.Content("~/Scripts/jquery.jSlots.js")" type="text/javascript" charset="utf-8"></script>
    <script src="@Url.Content("~/Scripts/LuckyNumber.js")" type="text/javascript" charset="utf-8"></script>
    @RenderSection("Script",false)
</body>
</html>