﻿<div class="row  col-md-12 hide" name="ManageSessionCreate" >
    <table class="table table-bordered table-advance">
        <thead>
            <tr>
                <th>Tên phiên</th>
                <th>Thời gian bắt đầu</th>
                <th>Thời gian kết thúc</th>
                <th>Mô tả</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5">
                    <div class="col-md-12">
                        <button name="btnAddSession" style="float:right;" type="button" class="btn btn-primary">Thêm</button>
                    </div>
                </td>

            </tr>
        </tfoot>
    </table>
</div>
@*<div class="actions col-md-12">
    <button name="btnSave" type="button" class="btn btn-primary">Lưu</button>
    <button name="btnClose" type="button" class="btn btn-primary">Hủy</button>
</div>*@
