html 
{
    height:100%;
    }
  hr {
    width: 100%;
    height: 1px;
    background: #ccc;
    border: 0;
    margin-top:20px;
    margin-bottom:20px;
}

.input-group
{
    width:100%;
    }

.panel-search{
    border-color: #4cae4c;
    border-radius: unset;
}
.panel-search>.panel-heading {
    color: white;
    background-color: #5cb85c;
    border-color: #d6e9c6;
    border-radius:unset;
}
.panel-action{
    border-color: #357ebd;
    border-radius: unset;
}
    .panel-action >  .panel-heading
    {
        color: white;
        background-color: #428bca;
        border-color: #bce8f1;
        border-radius:unset;
    } 
.panel-result{
    border-color: #357ebd;
    border-radius: unset;
}   
    .panel-result >  .panel-heading
    {
        color: white;
        background-color: #428bca;
        border-color: #bce8f1;
        border-radius:unset;
    }     

.panel-search > .panel-heading ,.panel-action > .panel-heading 
,.panel-result > .panel-heading 
{
        font-weight: bold;
    font-size: 18px;
    }     