﻿@font-face {
  font-family: 'UTM Avo';
  src: url("../Content/fonts/UTM-Avo.ttf"); }
@font-face {
  font-family: 'UTM AvoBold';
  src: url("../Content/fonts/UTM-AvoBold.ttf"); }
@font-face {
  font-family: 'UTM-AvoBold Italic';
  src: url("../Content/fonts/UTM-AvoBold_Italic.ttf"); }
@font-face {
  font-family: 'UTM AvoItalic';
  src: url("../Content/fonts/UTM-AvoItalic.ttf"); }
@font-face {
  font-family: 'OpenSans Regular';
  src: url("../Content/fonts/open-sans/OpenSans-Regular.ttf"); }
@font-face {
  font-family: 'OpenSans Bold';
  src: url("../Content/fonts/open-sans/OpenSans-Bold.ttf"); }
@font-face {
  font-family: 'Roboto Regular';
  src: url("../Content/fonts/roboto/Roboto-Regular.ttf"); }
@font-face {
  font-family: 'Roboto Black';
  src: url("../Content/fonts/roboto/Roboto-Black.ttf"); }
@font-face {
  font-family: 'UTM BryantLG';
  src: url("../Content/fonts/UTM-BryantLG.ttf"); }
body {
  font-size: 18px;
  margin: 0;
  padding: 0;
  font-family: 'UTM Avo';
  color: #fff;
  background: url(../Content/images/background.jpg) no-repeat;
  height: 100%;
  border: none;
  border-radius: 0px;
  overflow: hidden;
}

 h1, h2, h3, h4 {
  font-family: 'UTM AvoBold';
  margin: 0;
  color: #fff;
  font-size: 18px; }

 h1, h2, h3 {
  text-align: center;
  text-transform: uppercase;
  font-size: 36px; }

 h3 {
  font-size: 30px;
  font-family: 'UTM BryantLG';
  font-weight: normal; }

 h1 {
  font-size: 50px;
  padding: 70px 0 25px; }

section {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-position: center top;
  padding: 50px 0;
  position: relative; }

.list-logo {
  width: 754px;
  margin: 0px auto 30px;
}
  .list-logo .item-logo {
    margin-right: 50px;
    height: 48px;
    display: table-cell;
    padding-right: 50px;
    vertical-align: middle;
  }
    .list-logo .item-logo:last-child {
      margin-right: 0;
    }

.row-number {
  width: 100%;
  height: 430px;
  margin: auto;
  background: url(../Content/images/bg-row-number.png) no-repeat center; 
}
  .row-number .list-item-count {
    width: 888px;
    margin: 10px auto; 
}
    .row-number .list-item-count span {
      display: inline-block;
      line-height: 135px;
      width: 168px;
      font-family: 'Roboto Black';
      font-size: 98px;
      text-align: center;
      /*background: url(../Content/images/bg-number.png) no-repeat center;*/
    }

.action {
  text-align: center;
  margin-top: 25px; }

  .action .btn-quayso, .action .btn-dung {
    width: 148px;
    border: none;
    line-height: 48px;
    color: #fff;
  }
  .action .btn-quayso:hover , .action .btn-dung:hover {
      opacity: 1;
  }
.action .btn-quayso:active , .action .btn-dung:active {
    color: #254378;
}
  .action .btn-quayso {
    background: transparent url(../Content/images/btn-quayso.png) center no-repeat;
    margin-right: 40px;  outline: none;
  }
  .action .btn-dung {
    background: transparent url(../Content/images/btn-dung.png) center no-repeat;
    margin-right: 40px;
      outline: none;
  }

.padding-70 {
  padding-top: 70px; }

.result {
  width: 100%;
  height: 210px;
  background: transparent url(../Content/images/bg-kq.png) center no-repeat;
  text-align: center;
  padding-top: 33px;
}
  .result p {
    font-family: 'OpenSans Regular';
    font-size: 40px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
  }
  .result p.name, .result p.department {
    font-family: 'OpenSans Bold';
    font-size: 52px;
    padding-top: 10px;
  }
  .result p.department {
    text-transform: normal;
    padding-top: 0;
    font-size: 22px;
    text-transform: none; }
    .result p.department span {
      font-family: 'OpenSans Regular'; }

/*# sourceMappingURL=style.css.map */
.jSlots-wrapper {
    overflow: hidden;
    height: 135px;
    display: inline-block; /* to size correctly, can use float too, or width*/
    border: none;
    margin-top: 15px;
    /*background: url(../Content/images/bg-number.png) repeat-x center;*/
}
ul.slot 
{
    padding: 0;
    margin: 0;
    list-style: none;
}
.slot {
    float: left;
}
.slot li {
    width: 168px;
    /*line-height: 168px;*/
    text-align: center;
}
.slot:first-child li {
    border-left: none;
}

button{
  cursor: pointer;
  font-size: 18px;
   opacity: 0.8;
}
.hide{
  display: none;
}