﻿@font-face {
  font-family: 'UTM Bustamalaka';
  src: url("../Content/fonts/UTM-Bustamalaka.ttf"); }

@font-face {
  font-family: 'OpenSans Regular';
  src: url("../Content/fonts/open-sans/OpenSans-Regular.ttf"); }
@font-face {
  font-family: 'OpenSans Bold';
  src: url("../Content/fonts/open-sans/OpenSans-Bold.ttf"); }
@font-face {
  font-family: 'Roboto Regular';
  src: url("../Content/fonts/roboto/Roboto-Regular.ttf"); }
@font-face {
  font-family: 'Roboto Black';
  src: url("../Content/fonts/roboto/Roboto-Black.ttf"); }
@font-face {
  font-family: 'UTM AvoBold';
  src: url("../Content/fonts/UTM-AvoBold.ttf"); }
body {
  font-size: 18px;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Regular';
  color: #fff;
  background: url(../Content/images/tet-images/background.jpg) no-repeat; }

h1, h2, h3, h4 {
  font-family: 'UTM AvoBold';
  margin: 0;
  color: #fff;
  font-size: 18px; }

h1, h2, h3 {
  text-align: center;
  text-transform: uppercase;
  font-size: 36px; }

h3 {
  font-size: 30px;
  font-family: 'UTM BryantLG';
  font-weight: normal; }

h1 {
  font-size: 50px;
  padding: 70px 0 25px; }

section {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-position: center top;
  padding: 50px 0;
  position: relative; }
  
.daivietlannhat{
	width: 862px;
  margin: 33px auto 30px;
}
.night2017{
	font-family: 'UTM Bustamalaka';
	color: #fbde71;
	font-size: 57px;
}
.tatnien{
	font-family: 'UTM Bustamalaka';
	color: #fbde71;
	font-size: 40px;
}
.tatnien-left{
	width: 446px;
    display: inline-block;
    text-align: center;
    margin-top: 26px;
}
.img-dv{
	float: right;
}
.list-logo {
  width: 754px;
  margin: 0px auto 30px; }
  .list-logo .item-logo {
    margin-right: 50px;
    height: 48px;
    display: table-cell;
    padding-right: 50px;
    vertical-align: middle; }
    .list-logo .item-logo:last-child {
      margin-right: 0; }

.row-number {
  width: 100%;
  height: 430px;
  margin: auto;
  }
  .row-number .list-item-count {
    width: 858px;
    margin: 10px auto; }
    .row-number .list-item-count span {
      display: inline-block;
      line-height: 135px;
      width: 168px;
      font-family: 'Roboto Black';
      font-size: 98px;
      text-align: center;
      /*background: url(../Content/images/tet-images/bg-number.png) no-repeat center; }*/
    }
.list-item-count2{
	width: 670px;
	margin: 6px auto;
}	  
.list-item-count2 span {
      display: inline-block;
      line-height: 128px;
      width: 129px;
      font-family: 'Roboto Black';
      font-size: 60px;
      text-align: center;
      background: url(../Content/images/tet-images/bg-number2.png) no-repeat center; }	  
	  
.action {
  text-align: center;
  margin-top: 25px; }
  .action .btn-quayso, .action .btn-dung {
    width: 148px;
    border: none;
    line-height: 48px;
    color: #fff;
    outline: none;
  }
.action .btn-quayso:hover , .action .btn-dung:hover {
  opacity: 1;
  outline: none;
}
.action .btn-quayso:active , .action .btn-dung:active {
  color: #254378;
  outline: none;
}
  .action .btn-quayso {
    background: transparent url(../Content/images/tet-images/btn-quayso.png) center no-repeat;
    /*margin-right: 40px;*/
	font-family:'OpenSans Bold';
	font-size: 18px;
	text-transform: uppercase;
	}
  .action .btn-dung {
    background: transparent url(../Content/images/tet-images/btn-dung.png) center no-repeat; 
	font-family:'OpenSans Bold';
	font-size: 18px;
	text-transform: uppercase;
	}

.padding-70 {
  padding-top: 70px; }

.result {
  width: 100%;
  height: 210px;
  background: transparent url(../Content/images/tet-images/bg-kq.png) center no-repeat;
  text-align: center;
  padding-top: 33px;
  color: #08579b;
  }
  .result p {
    font-family: 'OpenSans Regular';
    font-size: 38px;
    text-transform: uppercase;
    padding: 0;
    margin: 0; }
  .result p.name, .result p.department {
    font-family: 'OpenSans Bold';
    font-size: 48px;
     }
  .result p.department {
    text-transform: normal;
    padding-top: 0;
    font-size: 22px;
    text-transform: none; }
    .result p.department span {
      font-family: 'OpenSans Regular'; }
	.chucmung{
		margin-top: 10px !important;
	}
/*# sourceMappingURL=style.css.map */
.jSlots-wrapper {
  overflow: hidden;
  height: 135px;
  display: inline-block; /* to size correctly, can use float too, or width*/
  border: none;
  margin-top: 15px;
  /*background: url(../Content/images/bg-number.png) repeat-x center;*/
}
ul.slot
{
  padding: 0;
  margin: 0;
  list-style: none;
}
.slot {
  float: left;
}
.slot li {
  width: 168px;
  /*line-height: 168px;*/
  text-align: center;
}
.slot:first-child li {
  border-left: none;
}

button{
  cursor: pointer;
  font-size: 18px;
  opacity: 0.8;
}
.hide{
  display: none;
}