﻿@using BCRM.CheckInEvent.Common
@{
    Layout = null;
}
<div id="frmAddNewUser" style="margin-top:25px;">
    <div class="form-group col-md-12">
        <label for="txtUsername">Tên đăng nhập <span style="color:Red;">*</span></label>
        <input id="txtUsername" class="form-control" name="username"  type="text" />
    </div>
    <div class="form-group col-md-12">
        <label for="txtPassword">Mật khẩu <span style="color:Red;">*</span></label>
        <input id="txtPassword" class="form-control" name="password" type="password" />
    </div>
    <div class="form-group col-md-12">
        <label for="txtReTypePassword">Nhập lại mật khẩu <span style="color:Red;">*</span></label>
        <input id="txtReTypePassword" class="form-control" name="password" type="password" />
    </div>

    <div class="form-group col-md-12">
        <label for="txtReTypePassword">Vai trò</label><br />
        <div class='input-group' >
            <input type="checkbox" checked name="grRole" renum="@Permission.Employee.GetHashCode()"  id="chkIsEmployee" /> Nhân viên <br />
            <input type="checkbox" name="grRole" renum="@Permission.Manager.GetHashCode()" id="chkIsManager" /> Quản lý sự kiện<br />
            <input type="checkbox" name="grRole" renum="@Permission.Admin.GetHashCode()" id="chkIsAdmin" /> Admin <br />
            <input type="checkbox" name="grRole" renum="@Permission.InviteeManager.GetHashCode()" id="chkIsInviteeManager" /> Quản lý khách mời<br />
            <input type="checkbox" name="grRole" renum="@Permission.TakeInvitee.GetHashCode()" id="chkIsTakeInvitee" /> Giao khách mời
        </div>
    </div>
    <div class="actions col-md-12">
        <button id="btnSave" type="button" class="btn btn-primary"><i class="icon-save"></i>&nbsp;Lưu</button>
        <button id="btnCancel" type="button" class="btn btn-primary"><i class="icon-refresh"></i>&nbsp;Reset</button>
        <button id="btnClose" type="button" class="btn btn-primary"><i class="icon-remove"></i>&nbsp;Đóng</button>
    </div>
</div>

<script type="text/javascript">
    user_add.init();
</script>