﻿@using BCRM.CheckInEvent.Common
@model BCRM.CheckInEvent.Models.UserModel
@{
    Layout = null;
}
<div id="frmEditUser" style="margin-top:25px;">
    <div class="form-group col-md-12">
        <label for="txtUsername">Tên đăng nhập :</label>
        <span id="txtUsername">@Model.UserName</span>
    </div>
    <div class="form-group col-md-12">
        <label for="txtPassword">Mật khẩu mới</label>
        <input id="txtPassword" class="form-control" name="password" type="password" />
    </div>
    <div class="form-group col-md-12">
        <label for="txtReTypePassword">Nhập lại mật khẩu </label>
        <input id="txtReTypePassword" class="form-control" name="password" type="password" />
    </div>
    <div class="form-group col-md-12">
        <label for="txtReTypePassword">Vai trò</label><br />
        @if (Model.PermissionRoles.FindAll(o=>o==Permission.Employee.GetHashCode()).Count>0)
        {
            <input type="checkbox" checked renum="@Permission.Employee.GetHashCode()" value="0" name="grRole" style="width: 60px"   /> <span>Nhân viên</span>  <br />
        }
        else
        {
            <input type="checkbox" renum="@Permission.Employee.GetHashCode()"  value="0" name="grRole" style="width: 60px"   /> <span>Nhân viên</span>  <br />
        }
        @if (Model.PermissionRoles.FindAll(o => o == Permission.Manager.GetHashCode()).Count > 0)
        {
            <input type="checkbox" checked renum="@Permission.Manager.GetHashCode()" value="1" name="grRole" style="width: 60px"   /> <span>Quản lý sự kiện</span>  <br />
        }
        else
        {
            <input type="checkbox" renum="@Permission.Manager.GetHashCode()" value="1" name="grRole" style="width: 60px"   /> <span>Quản lý sự kiện</span>  <br />
        }
        @if (Model.PermissionRoles.FindAll(o => o == Permission.Admin.GetHashCode()).Count > 0)
        {
            <input type="checkbox" checked renum="@Permission.Admin.GetHashCode()" value="2" name="grRole" style="width: 60px"   /> <span>Admin</span><br />
        }
        else
        {
            <input type="checkbox"  renum="@Permission.Admin.GetHashCode()" value="2" name="grRole" style="width: 60px"   /> <span>Admin</span><br />
        }
        @if (Model.PermissionRoles.FindAll(o => o == Permission.InviteeManager.GetHashCode()).Count > 0)
        {
            <input type="checkbox" checked renum="@Permission.InviteeManager.GetHashCode()" value="3" name="grRole" style="width: 60px"   /> <span>Quản lý khách mời</span><br />
        }
        else
        {
            <input type="checkbox" renum="@Permission.InviteeManager.GetHashCode()" value="3" name="grRole" style="width: 60px"   /> <span>Quản lý khách mời</span><br />
        }

        @if (Model.PermissionRoles.FindAll(o => o == Permission.TakeInvitee.GetHashCode()).Count > 0)
        {
            <input type="checkbox" checked renum="@Permission.TakeInvitee.GetHashCode()" value="4" name="grRole" style="width: 60px"   /> <span>Giao khách mời</span>
        }
        else
        {
            <input type="checkbox" renum="@Permission.TakeInvitee.GetHashCode()" value="4" name="grRole" style="width: 60px"   /> <span>Giao khách mời</span>
        }

    </div>
    <div class="actions col-md-12">
        <button id="btnSave" type="button" class="btn btn-primary"><i class="icon-save"></i>&nbsp;Lưu</button>
        <button id="btnCancel" type="button" class="btn btn-primary"><i class="icon-refresh"></i>&nbsp;Reset</button>
        <button id="btnClose" type="button" class="btn btn-primary"><i class="icon-remove"></i>&nbsp;Đóng</button>
    </div>
</div>

<script type="text/javascript">
    user_edit.init();
</script>