﻿@using BCRM.CheckInEvent.Models
@model UserLockModel
@{
    Layout = null;
}
<div id="frmLockTemporary" class="col-md-12" style="margin-top:20px;">
    <div class="row" style="margin-left:0;">
        <div class="form-group col-md-4">
            <label for="txtLockTime">Tài khoản :</label>
            <label>@Model.UserName</label>
        </div>
    </div>
    <div class="row" style="margin-left:0;" >
        <div class="form-group col-md-5">
            <label for="txtStartTime">Ngày bắt đầu <span style="color:Red;">*</span></label>
            <div class="row">
                <div class='input-group date col-md-8' >
                    <input type='text' id='txtStartTime'  value="@Model.LockedStartDate.ToString("dd/MM/yyyy")" class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                <div class='input-group bootstrap-timepicker timepicker col-md-4' >
                    <input type='text' id='txtStartHour'  value="@Model.LockedStartDate.ToString("HH:mm")" class="form-control" />
                    <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-left:0;">
        <div class="form-group col-md-5">
            <label for="txtLockTime">Thời gian khóa <span style="color:Red;">*</span></label>
            <div class="row">
                <div class="col-md-3"><input type="text" style="width:120px;" onkeypress='return event.charCode >= 48 && event.charCode <= 57' id='txtDayLockTime' tabindex="1" placeholder='--Ngày--' class="form-control" /></div>
                <div class="col-md-1"></div>
                <div class="col-md-3"><input type='text' style="width:120px;" onkeypress='return event.charCode >= 48 && event.charCode <= 57' id='txtHourLockTime' tabindex="2" placeholder='--Giờ--' class="form-control" /></div>
                <div class="col-md-1"></div>
                <div class="col-md-3"><input type='text' style="width:120px;" onkeypress='return event.charCode >= 48 && event.charCode <= 57' id='txtMinuteLockTime' tabindex="3" placeholder='--Phút--' class="form-control" /></div>
            </div>
            
        </div>
    </div>
    <div class="actions col-md-12" style="margin-bottom:15px;">
        <input type="hidden" id="hdfUserName" value="@Model.UserName" />
        <button id="btnSave" type="button" class="btn btn-primary"><i class="icon-save"></i>&nbsp;Lưu</button>
        <button id="btnCancel" type="button" class="btn btn-primary"><i class="icon-remove"></i>&nbsp;Hủy</button>
    </div>    
</div>

<script type="text/javascript">
    user_lock_temp.init();
</script>
