﻿@using BCRM.CheckInEvent.Models
@using BCRM.CheckInEvent.Common
@model UserIndexModel
@{
    var count = 0;
    Layout = null;
    var pager = (PagerModel)ViewBag.Pager;
    var curentUser = (UserModel)ViewBag.CurentUser;
    pager.ActionScript = "user_index.search";
}

<table id="tablUsers" class="table-striped table-bordered  col-md-12">
    <thead>
        <tr>
            <th class="col-md-1">STT</th>
            <th class="col-md-2">Tên tài khoản</th>
            <th class="col-md-2">Trạng thái</th>
            <th class="col-md-2">Ngày bắt đầu khóa</th>
            <th class="col-md-2">Thời gian khóa</th>
            <th class="col-md-2">Vai trò</th>
            <th class="col-md-1"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.LstUser)
        {
            count++;
            <tr>
                <td style="padding-left:3px;">@count</td>
                <td style="padding-left:3px;">@item.UserName</td>
                <td style="padding-left:3px;">
                    @if (item.Status == 1)
                    {
                        <span class="label  label-success">Hoạt động</span>
                    }
                    else
                    {
                        <span class="label  label-danger">Chưa hoạt động</span> 
                    }
                </td>
                <td>
                    @if (item.LockedStartDate != null)
                    {
                        <span>@item.LockedStartDate.Value.ToString("dd/MM/yyyy")  <b>@item.LockedStartDate.Value.ToString("HH:mm:ss")</b> </span> 
                    }
                </td>
                <td>
                    @if (item.LockTime > 0)
                    {
                        var dayMod = item.LockTime % 1440;
                        var day = (item.LockTime - dayMod) / 1440;
                        var minute = dayMod % 60;
                        var hour = (dayMod - minute) / 60;
                        <span>&nbsp; <b>@day Ngày @hour Giờ @minute Phút</b></span> 
                    }
                    
                </td>
                <td style="padding-left:3px;">
                    @foreach (var roleId in item.PermissionRoles)
                    {
                        <span> @CheckInHelper.ToPermissionName((Permission)roleId)  </span> <br />
                    }
                </td>
                <td style="padding-left:3px;">
                    <div class="dropdown">
                      <button class="btn btn-primary small dropdown-toggle" style="font-size:11px !important;line-height:13px;padding:4px 10px;" type="button" data-toggle="dropdown">
                        <i class="icon-cog"></i>&nbsp;Quản lý
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        @if (curentUser.HasPermisson(Permission.Admin))
                        {
                            <li><a name="btnEdit"  uname="@item.UserName"  href="javascript:void(0);"><i class="icon-edit"></i>&nbsp;Sửa</a></li>
                            if (item.Status == 1)
                            {
                                <li><a name="btnDeActive"  uname="@item.UserName"  href="javascript:void(0);"><i class="icon-lock"></i>&nbsp;Bỏ kích hoạt</a></li>
                            }
                            else
                            {
                                <li><a name="btnActive"  uname="@item.UserName"  href="javascript:void(0);"><i class="icon-unlock"></i>&nbsp;Kích hoạt</a></li>
                            }
                        }
                        @if (item.LockedStartDate != null)
                        {
                            <li><a name="btnUnLockTemp"  uname="@item.UserName"  href="javascript:void(0);"><i class="icon-unlock"></i>&nbsp;Bỏ khóa tạm thời</a></li>
                        }
                        else
                        {
                            <li><a name="btnLockTemp"  uname="@item.UserName"  href="javascript:void(0);"><i class="icon-lock"></i>&nbsp;Khóa tạm thời</a></li>     
                        }
                        
                      </ul>
                    </div>
                </td>
            </tr>    
        }
    </tbody>
</table>
@Html.Action("Paging", "Common", new { pager = ViewBag.Pager })