﻿@using BCRM.CheckInEvent.Models
@model List<CustomerModel>
@{
    Layout = null;
    var lstSale = (List<string>)ViewBag.LstSale;
    var chosenSaler = ViewBag.ChosenSaler;
}
@if (Model.Count > 0)
{
     <div class="row">
        <div class="form-group col-md-12" >
            <label class="control-label" for="ddlAssignToSale">Khách hàng đang được chăm sóc bởi :</label>
            <div class="input-group">
                <span>@Model[0].AssignTo </span>
            </div>
        </div>
        @if (!string.IsNullOrEmpty(chosenSaler))
        {
            <div class="form-group col-md-12" >
                <label class="control-label" for="ddlAssignToSale">Khách hàng đang được giao cho :</label>
                <div class="input-group">
                    <span>@chosenSaler </span>
                </div>
            </div>     
        }
        
    </div>
    <hr />
}
else
{
    <div class="row">
        <div class="form-group col-md-12" >
            <div class="alert alert-warning">
              <strong>Cảnh báo!</strong> Khách hàng chưa có thông tin trên BCRM , bạn không thể thực hiện chức năng này .
            </div>
        </div>
    </div>
    <hr /> 
}
@if (Model.Count > 0)
{
<div class="row">
    
        <div class="form-group col-md-12" >
            <label class="control-label" for="ddlAssignToSale">Giao cho<span style="color:Red;">*</span></label>
            <div class="input-group">
        
                 <select name="ddlAssignToSale" class="chzn-select form-control select" style="width:350px;" placeholder="Lựa chọn phòng ban" >
                    @if (!string.IsNullOrEmpty(chosenSaler))
                    {
                        foreach (var item in lstSale)
                        {
                            if (chosenSaler == item)
                            {
                                <option selected value="@item"> @item </option>     
                            }
                            else
                            {
                                <option value="@item"> @item </option>     
                            }

                        }
                    }
                    else if (Model.Count > 0)
                    {
                        foreach (var item in lstSale)
                        {
                            if (Model[0].AssignTo == item)
                            {
                                <option selected value="@item"> @item </option>     
                            }
                            else
                            {
                                <option value="@item"> @item </option>     
                            }

                        }
                    }
                    else
                    {
                        foreach (var item in lstSale)
                        {
                            <option value="@item"> @item </option>     
                        }
                    }
                </select>
        
            </div>
            <div class="show-message"></div>
        </div>

</div>
<hr />
}
<div class="row col-md-12">
    @if (Model.Count > 0)
    {
        <button name="btnSaveAssignToSale" iid="@((int)ViewBag.InviteeId)" type="button" class="btn btn-primary"><i class="icon-save"></i>&nbsp;Gán cho Sale</button>     
    }
    <button name="btnCloseAssignToSale" type="button" class="btn btn-primary"><i class="icon-close"></i>&nbsp;Đóng</button>
</div>