﻿@using BCRM.CheckInEvent.Models
@model List<UserModel>
<div id="frmAssignTo" style="width: 420px; display: block; top: 25%; left: 40%; overflow-x: hidden; overflow-y: hidden !important;outline:none;"  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialogSuccessLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="height: 100%;padding: 0px;border: none;">
        <div class="modal-content" style="border-radius:0px;width: 420px;">
            <div class="modal-header" style="color: #fff;background-color: #428bca;border-color: #d43f3a;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="dialogSuccessLabel">Giao khách mời cho nhân viên</h4>
            </div>
            <div class="modal-body" >
                <div class="row" style="color:Red;" id="wrapShowErrAssignTo">
                    <div class="form-group " >
                        <span>Bạn phải nhập thông tin </span>    
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="control-label">Lựa chọn nhân viên để giao <span style="color:Red;">*</span></label>
                        <div class="input-group">
                            <select id="selAssignTo" class="chzn-select form-control select" style="width:300px;">
                                @foreach (var assignTo in Model)
                                {
                                    <option value="@assignTo.UserName">@assignTo.UserName</option>
                                }
                            </select>
                        </div>
                        <div class="show-message"></div> 
                    </div>
                </div>
                <div class="actions col-md-12" style="padding-bottom:5px;padding-top:20px;border-top:1px solid #ddd;margin-top:10px;">
                    <button id="btnSaveAssignTo" type="button" class="btn btn-success"><i class="icon-save"></i>&nbsp;GIAO KHÁCH MỜI</button>
                    <button id="btnCancelAssignTo" type="button" class="btn btn-primary"  data-dismiss="modal"><i class="icon-remove"></i>&nbsp;ĐÓNG</button>
                </div> 
            </div>
        </div>
    </div>
</div>
