﻿@model BCRM.CheckInEvent.Models.BCRMInviteeEditModel
@{
    Layout = null;
}
<div id="frmEditRegisteredInvitee" style="margin-top:25px;">
    <div class="row" style="margin-left:0px;">
        <div class="form-group col-md-4">
            <label class="control-label" for="ddlEventId">Sự kiện <span style="color:Red;">*</span></label>
            <div class="input-group">
                <select id="ddlEventId" disabled="disabled"  class="form-control">
                    @foreach (var item in Model.LstEvent)
                    {
                        if (Model.BCRMInviteeInfo.EventId == item.Id)
                        {
                            <option selected="selected" value="@item.Id">@item.Name</option> 
                        }
                        else
                        {
                            <option value="@item.Id">@item.Name</option>                          
                        }
                    }
                </select>
            </div>
            <div class="show-message"></div>
        </div>
        <div class="form-group col-md-4">
            <label class="control-label" for="txtCustomerName">Tên khách mời <span style="color:Red;">*</span></label>
            <div class="input-group">
                <input type='text' id='txtCustomerName' value="@Model.BCRMInviteeInfo.CustomerName"  class="form-control" />    
            </div>
            <div class="show-message"></div>
        </div>
        <div class="form-group col-md-4">
            <label class="control-label" for="txtIntroduceUser">Tên nhân viên mời</label>
            <div class="input-group">
                <input type='text' disabled="disabled" id='txtIntroduceUser'  value="@Model.BCRMInviteeInfo.IntroduceUser" class="form-control" />    
            </div>
            <div class="show-message"></div>
        </div>
    </div>
    <div class="row" style="margin-left:0px;">
        <div class="form-group col-md-2">
            <label class="control-label" for="dllCustomerPhone">Số điện thoại <span style="color:Red;">*</span></label>
            <div class="input-group">
                <select id="dllCustomerPhone" class="form-control select">
                    @foreach (var item in Model.LstPhoneNumber)
                    {
                        if (item == Model.BCRMInviteeInfo.CustomerPhone)
                        {
                            <option selected="selected" value="@item">@item</option> 
                        }
                        else
                        {
                            <option value="@item">@item</option> 
                        }
                    }
                </select>
            </div>
            <div class="show-message"></div>
        </div>
        <div class="form-group col-md-2">
            <label class="control-label" for="txtCustomerEmail">Email <span style="color:Red;">*</span></label>
            <div class="input-group">
                <input type="text" id='txtCustomerEmail'  value="@Model.BCRMInviteeInfo.CustomerEmail" class="form-control" />
            </div>
            <div class="show-message"></div>
        </div>
        <div class="form-group col-md-4">
            <label class="control-label" for="txtCompanyName">Tên công ty</label>
            <div class="input-group">
                <input type='text' disabled="disabled" id='txtCompanyName'  value="@Model.BCRMInviteeInfo.CompanyName" class="form-control" />
            </div>
            <div class="show-message"></div>
        </div>
        <div class="form-group col-md-2">
            <label class="control-label" for="dllCustomerType">Loại khách mời <span style="color:Red;">*</span></label>
            <div class="input-group">
                <select id="dllCustomerType" disabled="disabled"  class="form-control">
                    @foreach (var item in Model.ListCustomerType)
                    {
                        if (item.Key == Model.BCRMInviteeInfo.CustomerType.GetHashCode())
                        {
                            <option selected value="@item.Key">@item.Value</option> 
                        }
                        else
                        {
                            <option value="@item.Key">@item.Value</option> 
                        }

                    }
                </select>
            </div>
            <div class="show-message"></div>
        </div>
        <div class="form-group col-md-2">
            <label class="control-label" for="txtCustomerRevenue">Doanh thu </label>
            <div class="input-group">
                <input type="text" disabled="disabled" id="txtCustomerRevenue" class="form-control" value="@Model.BCRMInviteeInfo.CustomerRevenue" />
            </div>
            <div class="show-message"></div>
        </div>
    </div>
    <div class="row" style="margin-left:0px;">
        <div class="form-group col-md-2">
            <label class="control-label" for="dllCustomerSex">Giới tính </label>
            <div class="input-group">
                <select id="dllCustomerSex" disabled="disabled" class="form-control select">
                    <option value="-1">Chọn giới tính</option>
                    @if (Model.BCRMInviteeInfo.CustomerSex == true)
                    {
                        <option value="0">Nữ</option>
                        <option selected="selected" value="1">Nam</option>     
                    }
                    else
                    {
                        <option selected="selected" value="0">Nữ</option>
                        <option value="1">Nam</option> 
                    }
                </select>
            </div>
            <div class="show-message"></div>
        </div>
        <div class="form-group col-md-2">
            <label class="control-label" for="txtCustomerBirthday">Ngày sinh</label>
            <div class="input-group">
                <input type="text" disabled="disabled" id='txtCustomerBirthday'  value="@(Model.BCRMInviteeInfo.CustomerBirthday == null ? "" : Model.BCRMInviteeInfo.CustomerBirthday.Value.ToString("dd/MM/yyyy")) " class="form-control" />
            </div>
            <div class="show-message"></div>
        </div>
        <div class="form-group col-md-4">
            <label class="control-label" for="txtCompanyAddress">Địa chỉ công ty</label>
            <div class="input-group">
                <input type="text" id='txtCompanyAddress' disabled="disabled"  value="@(Model.BCRMInviteeInfo.CompanyAddress) " class="form-control" />
            </div>
            <div class="show-message"></div>
        </div>
        <div class="form-group col-md-2">
            <label class="control-label" for="dllCustomerPosition">Chức vụ</label>
            <div class="input-group">
                @if (
                     Model.BCRMInviteeInfo.CustomerType == Libs.TypeOfCustomer.Owner
                    || Model.BCRMInviteeInfo.CustomerType == Libs.TypeOfCustomer.Broker
                    || Model.BCRMInviteeInfo.CustomerType == Libs.TypeOfCustomer.Other
                  )
                {
                    <select id="dllCustomerPosition" disabled="disabled" class="form-control select">
                        <option value="0">Không</option>
                    </select>
                }
                else
                {
                    <select id="dllCustomerPosition" class="form-control select">
                        <option value="">--Chọn chức vụ--</option>
                        @foreach (var item in Model.ListCustomerPosition)
                        {
                            if (Model.BCRMInviteeInfo.CustomerPosition.GetHashCode() == item.Key)
                            {
                                <option selected="selected" value="@item.Key">@item.Value</option>      
                            }
                            else
                            {
                                <option value="@item.Key">@item.Value</option> 
                            }
                        }
                    </select>
                }
                
            </div>
            <div class="show-message"></div>
        </div>
        <div class="form-group col-md-2">
            <label class="control-label" for="ddlCompanySize">Qui mô</label>
            <div class="input-group">
                <select disabled="disabled" id="ddlCompanySize" class="form-control select">
                    <option value="">--Chọn qui mô--</option>
                    @foreach (var item in Model.ListCompanySize)
                    {
                        <option value="@item.Key">@item.Value</option> 
                    }
                </select>
            </div>
            <div class="show-message"></div>
        </div>
    </div>
    <div class="row" style="margin-left:0px;">
        <div class="form-group col-md-2">
            <label class="control-label" for="dllAbilityAttend">Khả năng tham dự <span style="color:Red;">*</span></label>
            <div class="input-group">
                <select id="dllAbilityAttend" disabled="disabled" class="form-control select">
                    @foreach (var item in Model.ListAttendProbability)
                    {
                        if (Model.BCRMInviteeInfo.AbilityAttend.GetHashCode() == item.Key)
                        {
                            <option selected="selected" value="@item.Key">@item.Value</option>  
                        }
                        else
                        {
                            <option value="@item.Key">@item.Value</option>
                        }
                    }
                </select>
            </div>
            <div class="show-message"></div>
        </div>
        <div class="form-group col-md-2">
            <label class="control-label" for="ddlCustomerVip">Khách VIP <span style="color:Red;">*</span></label>
            <div class="input-group">
                <select id="ddlCompanySize" disabled="disabled" class="form-control select">
                    @if (Model.BCRMInviteeInfo.CustomerVip.GetHashCode() == 0)
                    {
                        <option selected="selected" value="0"> Khách thường</option>
                        <option value="1"> Khách VIP</option>
                    }
                    else
                    {
                        <option value="0"> Khách thường</option>
                        <option selected="selected" value="1"> Khách VIP</option>     
                    }
                    
                </select>
            </div>
            <div class="show-message"></div>
        </div>
        <div class="form-group col-md-4">
            <label class="control-label" for="txtSendTicketType">Hình thức gửi vé</label>
            <div class="input-group">
                <input type="text" id='txtSendTicketType' disabled="disabled"  value="@(Model.BCRMInviteeInfo.SendTicketType.GetHashCode() == 0 ? "Sale tự gửi" : "Chuyển phát nhanh") " class="form-control" />
            </div>
            <div class="show-message"></div>
        </div>
        <div class="form-group col-md-4">
            <label class="control-label" for="ddlCustomerVip">Địa chỉ gửi vé</label>
            <div class="input-group">
                <input type="text" id='txtTicketAddress' disabled="disabled"  value="@(Model.BCRMInviteeInfo.TicketAddress) " class="form-control" />
            </div>
            <div class="show-message"></div>
        </div>
    </div>
    <div class="row" style="margin-left:0px;">
        <div class="form-group col-md-2">
            <label class="control-label" for="dllPhoningStatus">Tình trạng gọi điện </label>
            <div class="input-group">
                <select id="dllPhoningStatus" disabled="disabled"  class="form-control">
                    @if (Model.BCRMInviteeInfo.PhoningStatus == null)
                    {
                        <option selected value="">Chưa gọi</option>
                    }
                    else
                    {
                        <option value="">Chưa gọi</option>
                    }

                    @foreach (var item in Model.ListPhoningStatus)
                    {
                        if (Model.BCRMInviteeInfo.PhoningStatus.GetValueOrDefault(0) == item.Key)
                        {
                            <option selected value="@item.Key">@item.Value</option> 
                        }
                        else
                        {
                            <option value="@item.Key">@item.Value</option>      
                        }
                    }
                </select>
            </div>
            <div class="show-message"></div>
        </div>
        <div class="form-group col-md-2">
            <label class="control-label" for="dllConfirmAttend1st" style="white-space: nowrap;">Xác nhận tham dự lần 1 </label>
            <div class="input-group">
                <select id="dllConfirmAttend1st" disabled="disabled"  class="form-control">
                    @if (Model.BCRMInviteeInfo.ConfirmAttend1st == null)
                    {
                        <option selected value="">Chưa xác nhận</option>     
                    }
                    else
                    {
                         <option  value="">Chưa xác nhận</option>
                    }
                    @foreach (var item in Model.ListAttendProbability)
                    {
                        if (Model.BCRMInviteeInfo.ConfirmAttend1st.GetValueOrDefault(0) == item.Key)
                        {
                            <option selected value="@item.Key">@item.Value</option> 
                        }
                        else
                        {
                            <option value="@item.Key">@item.Value</option>      
                        }

                    }
                </select>
            </div>
            <div class="show-message"></div>
        </div>
        <div class="form-group col-md-2">
            <label class="control-label" for="dllConfirmAttend2st" style="white-space: nowrap;">Xác nhận tham dự lần 2 </label>
            <div class="input-group">
                <select id="dllConfirmAttend2st" disabled="disabled"  class="form-control">
                    @if (Model.BCRMInviteeInfo.ConfirmAttend2st == null)
                    {
                        <option selected value="">Chưa xác nhận</option>     
                    }
                    else
                    {
                         <option  value="">Chưa xác nhận</option>
                    }
                    @foreach (var item in Model.ListAttendProbability)
                    {
                        if (Model.BCRMInviteeInfo.ConfirmAttend2st.GetValueOrDefault(0) == item.Key)
                        {
                            <option selected value="@item.Key">@item.Value</option> 
                        }
                        else
                        {
                            <option value="@item.Key">@item.Value</option>      
                        }
                    }
                </select>
            </div>
            <div class="show-message"></div>
        </div>
    </div>
    
    @if (Model.LstSession.Count > 0)
    {
        <div class="row" name="IsHadSession" style="margin-left:0px;">
            <div class="form-group col-md-8">
                <label class="control-label" for="dllSession"  class="control-label" style="white-space: nowrap;">Phiên tham dự <span style="color:Red;">*</span> </label>
                <div class="input-group">
                    <select id="dllSession" multiple class="chzn-select form-control select">
                        @foreach (var item in Model.LstSession)
                        {
                            if (Model.LstSelectedSession.Contains(item.Id))
                            {
                                    <option selected="selected" value="@item.Id">@item.Name</option>
                            }
                            else
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        }
                    </select>
                </div>
                <div class="show-message"></div>    
            </div>
        </div>
    }
    else
    {
         <div class="row hide" name="IsHadSession" style="margin-left:0px;">
            <div class="form-group col-md-8">
                <label class="control-label" for="dllSession"  class="control-label" style="white-space: nowrap;">Phiên tham dự <span style="color:Red;">*</span> </label>
                <div class="input-group">
                    <select id="dllSession" multiple class="chzn-select form-control select">
                    </select>
                </div>
                <div class="show-message"></div>    
            </div>
         </div>
    }
    <div class="row" style="margin-left:0px;">
        <div class="form-group col-md-12">
            <label class="control-label" for="txtNote">Ghi chú</label>
            <div class="input-group">
                <textarea id="txtNote"  class="form-control text-input"  cols="4" rows="6">@Model.BCRMInviteeInfo.Note</textarea>    
            </div>
            <div class="show-message"></div>
        </div>
    </div>
    <div class="actions col-md-12" style="margin-bottom:15px;">
        <button id="btnSave" type="button" class="btn btn-primary"><i class="icon-save"></i>&nbsp;Lưu</button>
        <button id="btnCancel" type="button" class="btn btn-primary"><i class="icon-refresh"></i>&nbsp;Reset</button>
        <button id="btnClose" type="button" class="btn btn-primary"><i class="icon-remove"></i>&nbsp;Đóng</button>
    </div>    
    <div class="row hide">
        <input type="hidden" id="hiddId" value="@Model.BCRMInviteeInfo.Id" class="text-input" />
    </div>
</div>

<hr />
<div class="col-md-12">
   @Html.Partial("~/Views/RegisteredInvitee/EditHistoryPartial.cshtml",Model.LstInviteEventHistory)
</div>
<hr />