﻿@using Libs
@using BCRM.CheckInEvent.Models
@model OnlineInviteeForCreateModel
@{
    Layout = null;
    var lstEvents = (List<EventModel>)ViewBag.LstEvent;
    var defaultEvent = ViewBag.DefaultEvent == null ? new EventModel() { Id = 0 } : (EventModel)ViewBag.DefaultEvent;
    var currUser = (UserModel)ViewBag.CurrentUser;
}
<div id="frmAddRegisteredInvitee" style="margin-top:25px;">
    <div class="row" style="margin-left:0px;">
        <div class="form-group col-md-4">
            <label class="control-label" for="ddlEventId">Sự kiện <span style="color:Red;">*</span></label>
            <div class="input-group">
                <select id="ddlEventId"  class="form-control select">
                    @foreach (var item in lstEvents)
                    {
                        if (defaultEvent.Id == item.Id)
                        {
                            <option selected="selected" value="@item.Id">@item.Name</option> 
                        }
                        else
                        {
                            <option value="@item.Id">@item.Name</option>                          
                        }
                    }
                </select>
            </div>
            <div class="show-message"></div>
        </div>
        <div class="form-group col-md-4">
            <label for="txtCustomerName" class="control-label" >Tên khách mời <span style="color:Red;">*</span></label>
            <div class="input-group">
                <input type='text' id='txtCustomerName' class="form-control text-input" />    
            </div>
            <div class="show-message"></div>
        </div>
        <div class="form-group col-md-4">
            <label class="control-label" for="txtIntroduceUser">Tên nhân viên mời</label>
            <div class="input-group">
                <input type='text' id='txtIntroduceUser' class="form-control text-input" />
            </div>
            <div class="show-message"></div>
        </div>
    </div>
    <div class="row" style="margin-left:0px;">
        <div class="form-group col-md-2">
            <label for="txtCustomerPhone" class="control-label">Số điện thoại <span style="color:Red;">*</span></label>
            <div class="input-group">
                <input type='number' id='txtCustomerPhone' class="form-control phone-search text-input" />
            </div>
            <div class="show-message"></div>
        </div>
        <div class="form-group col-md-2">
            <label for="txtCustomerEmail" class="control-label">Email <span style="color:Red;">*</span></label>
            <div class="input-group">
                <input type="text" id='txtCustomerEmail' class="form-control text-input" />
            </div>
            <div class="show-message"></div>
        </div>
        <div class="form-group col-md-4">
            <label class="control-label" for="txtCompanyName">Tên công ty</label>
            <div class="input-group">
                <input type='text' id='txtCompanyName' class="form-control text-input" />
            </div>
            <div class="show-message"></div>
        </div>
        <div class="form-group col-md-2">
            <label class="control-label" for="dllCustomerType">Loại khách mời <span style="color:Red;">*</span></label>
            <div class="input-group">
                <select id="dllCustomerType"  class="form-control select">
                    @foreach (var item in Model.ListCustomerType)
                    {
                        if (item.Key == 1)
                        {
                            <option selected value="@item.Key">@item.Value</option>      
                        }
                        else
                        {
                            <option value="@item.Key">@item.Value</option>    
                        }
                    }
                </select>
            </div>
            <div class="show-message"></div>
        </div>
        <div class="form-group col-md-2">
            <label class="control-label" for="txtPositionName">Chức vụ </label>
            <div class="input-group">
                <input type="text" id='txtPositionName' class="form-control text-input" />    
            </div>
            <div class="show-message"></div>
        </div>
    </div>
    <div class="row" style="margin-left:0px;">
        <div class="form-group col-md-2">
            <label class="control-label" for="dllPlaceOfAttendEvent">Nơi tổ chức sự kiện </label>
            <div class="input-group">
                <select id="dllPlaceOfAttendEvent"  class="form-control select">
                    @foreach (var item in Model.ListPlaceAttendEvent)
                    {
                        <option value="@item.Key">@item.Value</option> 
                    }
                </select>
            </div>
            <div class="show-message"></div>
        </div>
        <div class="form-group col-md-2">
            <label class="control-label" for="dllRegisteredSource">Nguồn đăng kí </label>
            <div class="input-group">
               <select id="dllRegisteredSource"  class="form-control select">
                    @foreach (var item in Model.ListRegisteredSource)
                    {
                        <option value="@item.Key">@item.Value</option>    
                    }
               </select> 
            </div>
            <div class="show-message"></div>
        </div>
        <div class="form-group col-md-2">
            <label class="control-label" for="dllPhoningStatus">Tình trạng gọi điện </label>
            <div class="input-group">
                <select id="dllPhoningStatus"  class="form-control select">
                    <option value="">Chưa gọi</option>
                    @foreach (var item in Model.ListPhoningStatus)
                    {
                        <option value="@item.Key">@item.Value</option>    
                    }
                </select>
            </div>
            <div class="show-message"></div>
        </div>
        <div class="form-group col-md-2">
            <label class="control-label" for="dllConfirmAttend1st" style="white-space: nowrap;">Xác nhận tham dự lần 1 </label>
            <div class="input-group">
                <select id="dllConfirmAttend1st"  class="form-control select">
                    <option value="">Chưa xác nhận</option>
                    @foreach (var item in Model.ListAttendProbability)
                    {
                        <option value="@item.Key">@item.Value</option>    
                    }
                </select>
            </div>
            <div class="show-message"></div>         
        </div>
        <div class="form-group col-md-2">
            <label class="control-label" for="dllConfirmAttend2st" style="white-space: nowrap;">Xác nhận tham dự lần 2 </label>
            <div class="input-group">
                <select id="dllConfirmAttend2st"  class="form-control select">
                    <option value="">Chưa xác nhận</option>
                    @foreach (var item in Model.ListAttendProbability)
                    {
                        <option value="@item.Key">@item.Value</option>    
                    
                    }
                </select>
            </div>
            <div class="show-message"></div>
        </div>
    </div>
    <div class="row" style="margin-left:0px;" name="IsHadSession">
        <div class="form-group col-md-6">
            <label for="dllSession"  class="control-label" style="white-space: nowrap;">Phiên tham dự <span style="color:Red;">*</span> </label>
            <div class="input-group">
                <select id="dllSession" multiple class="chzn-select form-control select">
                    
                </select>
            </div>
            <div class="show-message"></div>    
        </div>
    </div>
    <div class="row" style="margin-left:0px;">
        <div class="form-group col-md-12">
            <label for="txtNote">Ghi chú</label>
            <div class="input-group">
                <textarea id="txtNote"  class="form-control text-input"  cols="4" rows="6"></textarea>    
            </div>
            <div class="show-message"></div>
        </div>
    </div>
    <hr />
    <div class="actions col-md-12" style="margin-bottom:15px;">
        <button id="btnSave" type="button" class="btn btn-primary"><i class="icon-save"></i>&nbsp;Tạo mới</button>
        @if (currUser.HasPermisson(BCRM.CheckInEvent.Common.Permission.TakeInvitee) 
            || currUser.HasPermisson(BCRM.CheckInEvent.Common.Permission.Admin))
        {
            <button id="btnApprove" type="button" class="btn btn-primary"><i class="icon-ok-sign"></i>&nbsp;Gửi vé</button>     
        }
        <button id="btnCancel" type="button" class="btn btn-primary"><i class="icon-refresh"></i>&nbsp;Reset</button>
        <button id="btnClose" type="button" class="btn btn-primary"><i class="icon-remove"></i>&nbsp;Đóng</button>
    </div>    
</div>

