﻿@using Libs
@using BCRM.CheckInEvent.Common
@using BCRM.CheckInEvent.Models
@model OnlineInviteeForCreateModel
@{
    Layout = null;
    var currUser = (UserModel)ViewBag.CurrentUser;
}
<div id="frmEditRegisteredInvitee" style="margin-top:25px;">
    <div class="row" style="margin-left:0px;">
        <div class="form-group col-md-4">
            <label class="control-label" for="ddlEventId">Sự kiện <span style="color:Red;">*</span></label>
            <div class="input-group">
                <select id="ddlEventId"  class="form-control">
                    @foreach (var item in Model.LstEvent)
                    {
                        if (Model.OnlineRegisterInfo.EventId == item.Id)
                        {
                            <option selected="selected" value="@item.Id">@item.Name</option> 
                        }
                        else
                        {
                            <option value="@item.Id">@item.Name</option>                          
                        }
                    }
                </select>
            </div>
            <div class="show-message"></div>
        </div>
        <div class="form-group col-md-4">
            <label class="control-label" for="txtCustomerName">Tên khách mời <span style="color:Red;">*</span></label>
            <div class="input-group">
                <input type='text' id='txtCustomerName' value="@Model.OnlineRegisterInfo.CustomerName"  class="form-control" />    
            </div>
            <div class="show-message"></div>
        </div>
        <div class="form-group col-md-4">
            <label class="control-label" for="txtIntroduceUser">Tên nhân viên mời</label>
            <div class="input-group">
                <input type='text' id='txtIntroduceUser'  value="@Model.OnlineRegisterInfo.IntroduceUser" class="form-control" />    
            </div>
            <div class="show-message"></div>
        </div>
    </div>
    <div class="row" style="margin-left:0px;">
        <div class="form-group col-md-2">
            <label class="control-label" for="txtCustomerPhone">Số điện thoại <span style="color:Red;">*</span></label>
            <div class="input-group">
                <input type='number' id='txtCustomerPhone'  value="@Model.OnlineRegisterInfo.CustomerPhone" class="form-control phone-search" />    
            </div>
            <div class="show-message"></div>
        </div>
        <div class="form-group col-md-2">
            <label class="control-label" for="txtCustomerEmail">Email <span style="color:Red;">*</span></label>
            <div class="input-group">
                <input type="text" id='txtCustomerEmail'  value="@Model.OnlineRegisterInfo.CustomerEmail" class="form-control" />
            </div>
            <div class="show-message"></div>
        </div>
        <div class="form-group col-md-4">
            <label class="control-label" for="txtCompanyName">Tên công ty</label>
            <div class="input-group">
                <input type='text' id='txtCompanyName'  value="@Model.OnlineRegisterInfo.CompanyName" class="form-control" />
            </div>
            <div class="show-message"></div>
        </div>
        <div class="form-group col-md-2">
            <label class="control-label" for="dllCustomerType">Loại khách mời <span style="color:Red;">*</span></label>
            <div class="input-group">
                <select id="dllCustomerType"  class="form-control">
                    @foreach (var item in Model.ListCustomerType)
                    {
                        if (item.Key == Model.OnlineRegisterInfo.CustomerType)
                        {
                            <option selected value="@item.Key">@item.Value</option> 
                        }
                        else
                        {
                            <option value="@item.Key">@item.Value</option> 
                        }

                    }
                </select>
            </div>
            <div class="show-message"></div>
        </div>
        <div class="form-group col-md-2">
            <label class="control-label" for="txtPositionName">Chức vụ </label>
            <div class="input-group">
                <input type="text" id='txtPositionName' value='@Model.OnlineRegisterInfo.PositionName' class="form-control" />
            </div>
            <div class="show-message"></div>
        </div>
    </div>
    <div class="row" style="margin-left:0px;">
        <div class="form-group col-md-2">
            <label class="control-label" for="dllPlaceOfAttendEvent">Nơi tổ chức sự kiện </label>
            <div class="input-group">
                <select id="dllPlaceOfAttendEvent"  class="form-control">
                    @foreach (var item in Model.ListPlaceAttendEvent)
                    {
                        if (Model.OnlineRegisterInfo.PlaceOfAttendEvent == item.Key)
                        {
                            <option selected value="@item.Key">@item.Value</option> 
                        }
                        else
                        {
                            <option value="@item.Key">@item.Value</option> 
                        }
                    }
                </select>
            </div>
            <div class="show-message"></div>
        </div>
        <div class="form-group col-md-2">
            <label class="control-label" for="dllRegisteredSource">Nguồn đăng kí </label>
            <div class="input-group">
                <select id="dllRegisteredSource"  class="form-control">
                    @foreach (var item in Model.ListRegisteredSource)
                    {
                        if (Model.OnlineRegisterInfo.RegisteredSource == item.Key)
                        {
                            <option selected value="@item.Key">@item.Value</option> 
                        }
                        else
                        {
                            <option value="@item.Key">@item.Value</option> 
                        }

                    }
                </select>
            </div>
            <div class="show-message"></div>
        </div>
        <div class="form-group col-md-2">
            <label class="control-label" for="dllPhoningStatus">Tình trạng gọi điện </label>
            <div class="input-group">
                <select id="dllPhoningStatus"  class="form-control">
                    @if (Model.OnlineRegisterInfo.PhoningStatus == null)
                    {
                        <option selected value="">Chưa gọi</option>
                    }
                    else
                    {
                        <option value="">Chưa gọi</option>
                    }

                    @foreach (var item in Model.ListPhoningStatus)
                    {
                        if (Model.OnlineRegisterInfo.PhoningStatus.GetValueOrDefault(0) == item.Key)
                        {
                            <option selected value="@item.Key">@item.Value</option> 
                        }
                        else
                        {
                            <option value="@item.Key">@item.Value</option>      
                        }
                    }
                </select>
            </div>
            <div class="show-message"></div>
        </div>
        <div class="form-group col-md-2">
            <label class="control-label" for="dllConfirmAttend1st" style="white-space: nowrap;">Xác nhận tham dự lần 1 </label>
            <div class="input-group">
                <select id="dllConfirmAttend1st"  class="form-control">
                    @if (Model.OnlineRegisterInfo.ConfirmAttend1st == null)
                    {
                        <option selected value="">Chưa xác nhận</option>     
                    }
                    else
                    {
                         <option  value="">Chưa xác nhận</option>
                    }
                    @foreach (var item in Model.ListAttendProbability)
                    {
                        if (Model.OnlineRegisterInfo.ConfirmAttend1st.GetValueOrDefault(0) == item.Key)
                        {
                            <option selected value="@item.Key">@item.Value</option> 
                        }
                        else
                        {
                            <option value="@item.Key">@item.Value</option>      
                        }

                    }
                </select>
            </div>
            <div class="show-message"></div>
        </div>
        <div class="form-group col-md-2">
            <label class="control-label" for="dllConfirmAttend2st" style="white-space: nowrap;">Xác nhận tham dự lần 2 </label>
            <div class="input-group">
                <select id="dllConfirmAttend2st"  class="form-control">
                    @if (Model.OnlineRegisterInfo.ConfirmAttend2st == null)
                    {
                        <option selected value="">Chưa xác nhận</option>     
                    }
                    else
                    {
                         <option  value="">Chưa xác nhận</option>
                    }
                    @foreach (var item in Model.ListAttendProbability)
                    {
                        if (Model.OnlineRegisterInfo.ConfirmAttend2st.GetValueOrDefault(0) == item.Key)
                        {
                            <option selected value="@item.Key">@item.Value</option> 
                        }
                        else
                        {
                            <option value="@item.Key">@item.Value</option>      
                        }
                    }
                </select>
            </div>
            <div class="show-message"></div>
        </div>
    </div>
    <div class="row" style="margin-left:0px;">
        <div class="form-group col-md-12">
            <label class="control-label" for="txtUserName">Tài khoản batdongsan.com</label>
            <div class="input-group">
                <input id="txtUserName" disabled="disabled" value='@Model.OnlineRegisterInfo.UserName' class="form-control" />
            </div>
            <div class="show-message"></div>
        </div>
    </div>
    @if (Model.LstSession.Count > 0)
    {
        <div class="row" style="margin-left:0px;" name="IsHadSession">
            <div class="form-group col-md-6">
                <label class="control-label" for="dllSession"  class="control-label" style="white-space: nowrap;">Phiên tham dự <span style="color:Red;">*</span> </label>
                <div class="input-group">
                    <select id="dllSession" multiple class="chzn-select form-control select">
                        @foreach (var item in Model.LstSession)
                        {
                            if (Model.LstSelectedSession.Contains(item.Id))
                            {
                                 <option selected="selected" value="@item.Id">@item.Name</option>
                            }
                            else
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        }
                    </select>
                </div>
                <div class="show-message"></div>    
            </div>
        </div>     
    }
    else
    {
        <div class="row hide" style="margin-left:0px;" name="IsHadSession"></div>
    }
    <div class="row" style="margin-left:0px;">
        <div class="form-group col-md-12">
            <label class="control-label" for="txtNote">Ghi chú</label>
            <div class="input-group">
                <textarea id="txtNote"  class="form-control text-input"  cols="4" rows="6">@Model.OnlineRegisterInfo.Note</textarea>    
            </div>
            <div class="show-message"></div>
        </div>
    </div>
    <div class="actions col-md-12" style="margin-bottom:15px;">
        <button id="btnSave" type="button" class="btn btn-primary"><i class="icon-save"></i>&nbsp;Sửa</button>
        @if (currUser.HasPermisson(BCRM.CheckInEvent.Common.Permission.TakeInvitee)
            || currUser.HasPermisson(BCRM.CheckInEvent.Common.Permission.Admin))
        {
            if (Model.OnlineRegisterInfo.Status == false)
            {
                <button id="btnApprove" ieid="@Model.OnlineRegisterInfo.Id" type="button" class="btn btn-primary"><i class="icon-ok-sign"></i>&nbsp;Gửi vé</button>     
            }
            
        } 
        <button id="btnCancel" type="button" class="btn btn-primary"><i class="icon-refresh"></i>&nbsp;Reset</button>
        <button id="btnClose" type="button" class="btn btn-primary"><i class="icon-remove"></i>&nbsp;Đóng</button>
        <input type="hidden" id="hiddId" value="@Model.OnlineRegisterInfo.Id" />
    </div>    
</div>

<hr />
<div class="col-md-12">
    @Html.Partial("~/Views/RegisteredInvitee/EditHistoryPartial.cshtml",Model.LstInviteEventHistory)
</div>
<hr />