﻿@using BCRM.CheckInEvent.Common
@model List<BCRM.CheckInEvent.Models.InviteEventHistoryModel>
@{
    var count = 0;
    }
<a id="toogleHistory" href="javascript:void(0);" style="font-size: 24px;color: #000;width: 100%;background: rgb(221, 221, 221);cursor: pointer;text-decoration: none;padding-left:5px;"  title="Hiển thị danh sách lịch sử thao tác với khách mời">
    <span>+</span> Lịch sử thay đổi khách mời
</a>
<table id="tblHistory" class="table-striped table-bordered hide" style="width: 100%;margin-top:25px;">
    <tr>    
        <th>#</th>
        <th>Thao tác</th>
        <th>Trước thay đổi</th>
        <th>Sau thay đổi</th>
        <th>Ghi chú</th>
        <th>Người xử lý</th>
        <th>Ngày xử lý</th>
    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td><span class="label label-info">@item.Action</span> </td>
            <td>@item.OldValue</td>
            <td>@item.NewValue</td>
            <td>@item.Note</td>
            <td>@item.UpdatedBy</td>
            <td>@item.UpdatedDate.ToString("dd/MM/yyyy HH:mm:ss")</td>
        </tr>
        @*<tr>
            <td> 
                @foreach (var changeItem in item.LstOtherChangeItem)
                {
                    <a href="javascript:void(0);" >@(changeItem.FieldDisplay) :</a>  <span> @(string.IsNullOrEmpty(changeItem.OldValue) ? "Không có" : changeItem.OldValue)     </span><b><i class="icon-arrow-right"></i></b> <span style="color:red;">@(string.IsNullOrEmpty(changeItem.NewValue) ? "Không có" : changeItem.NewValue)</span> <br />
                }
            </td>
            <td>
                <div class="col-md-12" style="text-align: center;">
                    @if (item.Status == 1)
                    {
                        <span class="label label-info">Tạo mới</span>
                    }
                    else if (item.Status == 2)
                    {
                        <span class="label label-info">Sửa</span> 
                    }
                    else if (item.Status == 3)
                    {
                        <span class="label label-info">Duyệt</span> 
                    }
                    else if (item.Status == 4)
                    {
                        <span class="label label-info">Hủy duyệt</span> 
                    }
                    else if (item.Status == 5)
                    {
                        <span class="label label-info">Xóa</span> 
                    }
                </div>
            </td>
            <td>
                <div class="col-md-12" style="text-align: center;">
                    <span>@item.UpdatedBy</span> 
                </div>
            </td>
            <td>@item.UpdatedDate.ToString("dd/MM/yyyy HH:mm:ss")</td>     
        </tr>*@
    }
</table>