﻿@using Libs
@using BCRM.CheckInEvent.Models
@using BCRM.CheckInEvent.Common
@model List<OnlineInviteeForSearchModel>
@{
    Layout = null;
    var count = 0;
    var pager = (PagerModel)ViewBag.Pager;
    pager.ActionScript = "registered_invitee_index.search";

    var currUser =(UserModel) ViewBag.CurrentUser;
}

<table id="tablRegisteredInvitee" class="table-striped table-bordered" style="width: 100%">
    <thead>
        <tr>
            <th style="width: 150px">Thông tin vé mời</th>
            <th>Thông tin</th>
            <th style="width: 150px">Trạng thái</th>
            <th style="width: 100px"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            count++;
            <tr>
                <td>
                    <div style="width: 100%;margin-left: 5px;">
                        <div style="width: 100px;float:left;">
                            <a href="javascript:void(0);">Mã khách mời </a>
                            <span style="float:right;" >:</span>
                        </div>
                        <div style="margin-left:100px;">
                            <b>@((string.IsNullOrEmpty(item.EventCode) ? "" : item.EventCode + "-") + item.Id.ToString())</b>
                        </div>
                    </div>
                    <div style="width: 100%;margin-left: 5px;">
                        <div style="width: 100px;float:left;">
                            <a href="javascript:void(0);">Mã vé </a>
                            <span style="float:right;" >:</span>
                        </div>
                        <div style="margin-left:100px;">
                            <b>@item.Code</b>
                        </div>
                    </div>
                    <div style="width:100%; clear: left; ">
                            @if (item.CustomerType == 1)
                            {
                                <span class="label  label-warning">Môi giới tự do</span>
                            }
                            else if (item.CustomerType == 2)
                            {
                                <span class="label  label-info">Môi giới doanh nghiệp</span>
                            }
                            else if (item.CustomerType == 0 || item.CustomerType == 3
                                    || item.CustomerType == 4 || item.CustomerType == 5
                                    || item.CustomerType == 6)
                            {
                                <span class="label label-success">@(((TypeOfCustomer)item.CustomerType).ToCustomerType())</span> 
                            }
                    </div>
                    <div style="width:100%; clear: left; ">
                        @if (item.SourceId == 1)
                        {
                             <span class="label  label-warning">BCRM</span>
                        }
                        else
                        {
                             <span class="label  label-info">Landingpage</span>
                        }
                        
                    </div>
                </td>
                <td style="padding-left:3px;">
                    <div style="width: 100%;display: inline-block"><a href="javascript:void(0);">Sự kiện :</a> @item.EventName</div>
                    <div style="width: 100%;display: inline-block"><a href="javascript:void(0);">Phiên tham dự :</a> @item.SessionName</div>
                    <div style="width: 50%;display: inline-block"><a href="javascript:void(0);">Tên khách mời :</a> <b style="font-size: 15px;">@item.CustomerName</b> </div>
                    <div style="width: 50%;display: inline-block;float: right"><a href="javascript:void(0);">SĐT :</a> @item.CustomerPhone</div>
                    <div style="width: 50%;display: inline-block;"><a href="javascript:void(0);">Email :</a> @(item.CustomerEmail) </div>
                    <div style="width: 50%;display: inline-block;float:right;"><a href="javascript:void(0);">Chức vụ :</a> @(item.PositionName) </div>
                    <div style="width: 50%;display: inline-block;"><a href="javascript:void(0);">Công ty :</a> @(item.CompanyName) </div>
                    <div style="width: 50%;display: inline-block;float:right;"><a href="javascript:void(0);">Giao cho Sale:</a> @(item.BcrmAssignTo) </div>
                    <div style="width: 50%;display: inline-block;"><a href="javascript:void(0);">Nhân viên mời :</a> @(item.IntroduceUser) </div>
                    <div name="divShowAssignTo" style="width: 50%;display: inline-block;float:right;"><a href="javascript:void(0);">Giao cho CSKH:</a> @(item.AssignTo) </div>
                    <div style="width: 50%;display: inline-block;"><a href="javascript:void(0);">Tài khoản batdongsan.com :</a> @item.UserName</div>
                    <div style="width: 50%;display: inline-block;float:right;"><a href="javascript:void(0);">Địa điểm tham dự :</a> @(item.PlaceOfAttendEvent) </div>
                    <div style="width: 50%;display: inline-block;"><a href="javascript:void(0);">Ngày đăng kí :</a> @item.CreatedDate.ToString("dd/MM/yyyy") </div>
                    <div style="width: 100%"><a href="javascript:void(0);">Ghi chú :</a> @item.Note</div>
                </td>
                <td style="padding-left:3px;">
                    @if (item.PhoningStatus == null)
                    {
                        <span class="label  label-default"><i class="icon-volume-up"></i> Chưa gọi</span>
                    }
                    else if (item.PhoningStatus == 1)
                    {
                        <span class="label  label-success"><i class="icon-volume-up"></i> Đã gọi</span>
                    }
                    else if (item.PhoningStatus == 2)
                    {
                        <span class="label  label-warning"><i class="icon-volume-up"></i> Không nghe máy</span>
                    }
                    else if (item.PhoningStatus == 3)
                    {
                        <span class="label  label-danger"><i class="icon-volume-up"></i> Số máy sai</span>
                    }
                    else if (item.PhoningStatus == 4)
                    {
                        <span class="label  label-info"><i class="icon-volume-up"></i> Gọi lại sau</span>
                    }
                    else if (item.PhoningStatus == 5)
                    {
                        <span class="label  label-danger"><i class="icon-volume-up"></i> Không mời</span>
                    }
                    else if (item.PhoningStatus == 6)
                    {
                        <span class="label  label-info"><i class="icon-volume-up"></i> Trưởng phòng duyệt</span>
                    }

                    @if (item.ConfirmAttend1st == null)
                    {
                        <span class="label  label-default">Xác nhận lần 1 : Chưa</span>
                    }
                    else if (item.ConfirmAttend1st == 1)
                    {
                        <span class="label  label-success">Xác nhận lần 1 : Có tham dự</span> 
                    }
                    else if (item.ConfirmAttend1st == 2)
                    {
                        <span class="label  label-danger">Xác nhận lần 1 : Không tham dự</span> 
                    }
                    else if (item.ConfirmAttend1st == 3)
                    {
                        <span class="label  label-info">Xác nhận lần 1 : Xem xét</span> 
                    }
                    
                    @if (item.ConfirmAttend2st == null)
                    {
                        <span class="label  label-default">Xác nhận lần 2 : Chưa</span>
                    }
                    else if (item.ConfirmAttend2st == 1)
                    {
                        <span class="label  label-success">Xác nhận lần 2 : Có tham dự</span> 
                    }
                    else if (item.ConfirmAttend2st == 2)
                    {
                        <span class="label  label-danger">Xác nhận lần 2 : Không tham dự</span> 
                    }
                    else if (item.ConfirmAttend2st == 3)
                    {
                        <span class="label  label-info">Xác nhận lần 2 : Xem xét</span> 
                    }

                    @if (item.Status == true  )
                    {
                        if(item.SendTicketStatus !=2)
                        {
                            <span class="label  label-success">Đã gửi SMS</span>    
                        }
                        else
                        {
                            <span class="label  label-success">Đã gửi lại SMS</span>
                        }
                    }
                </td>
                <td style="padding-left:3px;">
                    <div class="dropdown">
                        <button class="btn btn-primary small dropdown-toggle" style="font-size:11px !important;line-height:13px;padding:4px 10px;" type="button" data-toggle="dropdown">
                            <i class="icon-cog"></i>&nbsp;Quản lý
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a name="btnEdit" uid="@item.Id" sid="@item.SourceId" ibcrm="@item.IsBcrmProcess"  href="javascript:void(0);"><i class="icon-edit"></i>&nbsp;Sửa</a></li>
                            @if (item.Status == true)
                            {
                                <li><a name="btnReSendTicket" uid ="@item.Id"  href="javascript:void(0);"><i class="icon-ok-sign"></i>&nbsp;Gửi lại SMS</a></li>  
                            }
                            else
                            {
                                <li><a name="btnSendTicket" uid ="@item.Id"  href="javascript:void(0);"><i class="icon-ok-sign"></i>&nbsp;Gửi SMS</a></li>  
                            }
                            @if (currUser.HasPermisson(BCRM.CheckInEvent.Common.Permission.TakeInvitee)
                                || currUser.HasPermisson(BCRM.CheckInEvent.Common.Permission.Admin)
                                || currUser.HasPermisson(BCRM.CheckInEvent.Common.Permission.Manager))
                            {
                                <li><a name="btnAssignTo" uid="@item.Id"  href="javascript:void(0);"><i class="icon-user"></i>&nbsp;Giao cho CSKH</a></li>    
                            }
                            @if (item.SourceId != 1 && item.PhoningStatus == null)
                            {
                                <li><a name="btnAssignToSale" uid="@item.Id" href="javascript:void(0);" ><i class="icon-user"></i>&nbsp;Giao cho Sale</a>  </li>     
                            }
                            @if (currUser.HasPermisson(BCRM.CheckInEvent.Common.Permission.Manager) || currUser.HasPermisson(BCRM.CheckInEvent.Common.Permission.Admin)
                              && item.Status == false )
                            {
                                <li><a name="btnDelete" uid="@item.Id"  href="javascript:void(0);"><i class="icon-trash"></i>&nbsp;Xóa</a></li>     
                            }
                            
                        </ul>
                    </div>
                </td>
            </tr>    
        }
    </tbody>
    </table>

    @Html.Action("Paging", "Common", new { pager = ViewBag.Pager })