﻿@using BCRM.CheckInEvent.Models
@{
    Layout = null;
    var lstEvents = (List<EventModel>)ViewBag.Events;
    var lastestEvent = (EventModel)ViewBag.DefaultEvent;
}
<div id="frmAddNewCheckInTimer" class="col-md-12" style="margin-top:25px;">
    <div class="row" style="margin-left:0px;">
        <div class="form-group col-md-12">
            <label for="ddlEvent">Sự kiện <span style="color:Red;">*</span></label>
            <select id="ddlEvent"  class="form-control">
                @foreach (var item in lstEvents)
                {
                    if (item.Id == lastestEvent.Id && item.IsInWebCheckIn == lastestEvent.IsInWebCheckIn)
                    {
                        var idEvent = item.Id + "_" + (item.IsInWebCheckIn == true ? "1" : "0");
                        <option selected="selected" value="@idEvent" >@item.Name</option>     
                    }
                    else
                    {
                        var idEvent = item.Id + "_" + (item.IsInWebCheckIn == true ? "1" : "0");
                        <option value="@idEvent" >@item.Name</option> 
                    }                         
                }
            </select>
        </div>
    </div>
    
    <div class="row" style="margin-left:0px;">
        <div class="form-group col-md-6">
            <label for="txtStartTime">Thời gian bắt đầu <span style="color:Red;">*</span></label>
            <div class='input-group date' >
                <input type='text' id='txtStartTime' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="txtStartHour">Từ </label>
            <div class='input-group bootstrap-timepicker timepicker' >
                <input type='text' id='txtStartHour' value="00:00" class="form-control" />
                <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
            </div>
        </div>    
    </div>
    <div class="row" style="margin-left:0px;">
        <div class="form-group col-md-6">
            <label for="txtEndTime">Thời gian kết thúc <span style="color:Red;">*</span></label>
            <div class='input-group date' >
                <input type='text' id='txtEndTime' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div class="form-group col-md-6 ">
            <label for="txtEndHour">Đến </label>
            <div class='input-group  bootstrap-timepicker timepicker' >
                <input type='text' id='txtEndHour' value="00:00" class="form-control" />
                <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
            </div>
        </div>  
    </div>
    <hr />
    <div class="actions col-md-12">
        <button id="btnSave" type="button" class="btn btn-primary"><i class="icon-save"></i>&nbsp;Lưu</button>
        <button id="btnCancel" type="button" class="btn btn-primary"><i class="icon-refresh"></i>&nbsp;Reset</button>
        <button id="btnClose" type="button" class="btn btn-primary"><i class="icon-close"></i>&nbsp;Đóng</button>
    </div>
</div>
<script type="text/javascript">
        checkin_timer_add.init();
</script> 


