﻿@using BCRM.CheckInEvent.Models
@model CheckInTimerModel
@{
    Layout = null;
    var lstEvents = (List<EventModel>)ViewBag.Events;
}
<div id="frmEditCheckInTimer" class="col-md-12" style="margin-top:25px;">
    <div class="row" style="margin-left:0px;">
        <div class="form-group col-md-12">
            <label for="ddlEvent">Sự kiện <span style="color:Red;">*</span></label>
            <select id="ddlEvent"  class="form-control">
                @foreach (var item in lstEvents)
                {
                    if (Model.EventId == item.Id)
                    {
                        var idEvent = item.Id + "_" + (item.IsInWebCheckIn == true ? "1" : "0");
                        <option value="@idEvent" selected >@item.Name</option>     
                    }
                    else
                    {
                        var idEvent = item.Id + "_" + (item.IsInWebCheckIn == true ? "1" : "0");
                        <option value="@idEvent" >@item.Name</option>         
                    }
                }
            </select>
        </div>
    </div>
    <div class="row" style="margin-left:0px;">
        <div class="form-group col-md-6">
            <label for="txtStartTime">Thời gian bắt đầu <span style="color:Red;">*</span></label>
            <div class='input-group date' >
                <input type='text' id='txtStartTime' value="@Model.StartTime.ToString("dd/MM/yyyy")" class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="txtStartHour">Từ </label>
            <div class='input-group bootstrap-timepicker timepicker' >
                <input type='text' id='txtStartHour' value="@Model.StartTime.ToString("HH:mm")" class="form-control" />
                <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
            </div>
        </div>
    </div>
    <div class="row" style="margin-left:0px;">
        <div class="form-group col-md-6">
            <label for="txtEndTime">Thời gian kết thúc <span style="color:Red;">*</span></label>
            <div class='input-group date' >
                <input type='text' id='txtEndTime' value="@Model.EndTime.ToString("dd/MM/yyyy")" class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="txtEndHour">Đến </label>
            <div class='input-group  bootstrap-timepicker timepicker' >
                <input type='text' id='txtEndHour' value="@Model.EndTime.ToString("HH:mm")" class="form-control" />
                <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
            </div>
        </div>
    </div>
    <hr />
    <div class="actions col-md-12">
        <input type="hidden" id="hdfId" value="@Model.Id" />
        <button id="btnSave" type="button" class="btn btn-primary"><i class="icon-save"></i>&nbsp;Lưu</button>
        <button id="btnCancel" type="button" class="btn btn-primary"><i class="icon-refresh"></i>&nbsp;Reset</button>
        <button id="btnClose" type="button" class="btn btn-primary">Đóng</button>
    </div>
</div>
<script type="text/javascript">
    checkin_timer_edit.init();
</script>
