﻿@{
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
}
<h1 style="padding-left: 15px;">Gia hạn CheckIn</h1>
<div class="panel panel-search"  id="frmSearchCheckInTimer">
    <div class="panel-heading"><i class="icon-cogs"></i> &nbsp; Tìm kiếm thông tin gia hạn</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">
                <select id="selStatusEvent" class="form-control" title="Thông tin các sự kiện còn hạn hay chưa">
                    <option value="0">Các sự kiện đang còn hạn</option>
                    <option value="1">Các sự kiện hết hạn</option>
                </select>
            </div>
            <div class="col-md-4">
                <select name="EventId" style="margin-left:3px;" id="selEvent" class="form-control" title="Danh sách các sự kiện diễn ra"></select>
            </div>
            <div class="col-md-4">
                <button id="btnSearch" class="btn btn-success" type="button"><i class="icon-search"></i>&nbsp;Tìm kiếm</button>
                <button id="btnAddNew" class="btn btn-success" type="button"><i class="icon-plus"></i>&nbsp;Thêm mới</button>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-result" id="SearchCheckInTimer">
    <div class="panel-heading">
        <i class="icon-reorder"></i> &nbsp; Danh sách gia hạn
    </div>
    <div class="panel-body">
        
    </div>
</div>

@*<div class="search-invite-event" style="width: 100%;margin-top:25px;" id="SearchCheckInTimer">
    <div class="additonal-action"></div>
    <div id="search-content-list" class="col-md-12"></div>
</div>*@
<div class="panel panel-action hide" id="AddNewCheckInTimer">
    <div class="panel-heading">
        <i class="icon-reorder"></i> &nbsp; Thêm / sửa thông tin gia hạn
    </div>
    <div class="panel-body">
        
    </div>
</div>

@*<div class="add-user" id="AddNewCheckInTimer">
    <div id="new-item"></div>
</div>*@

<script type="text/javascript">
    checkin_timer.init();
</script>
