﻿@using BCRM.CheckInEvent.Models
@model List<CheckInTimerModel>
@{
    Layout = null;
    var count = 0;
}
<table id="tablInviteEvent" class="table-striped table-bordered" style="width: 100%;">
    <thead>
        <tr>
            <th class="col-md-1" style="padding-left:5px;">STT</th>
            <th class="col-md-5" style="padding-left:5px;">Tên sự kiện</th>
            <th class="col-md-2" style="padding-left:5px;">Thời gian mở</th>
            <th class="col-md-2" style="padding-left:5px;">Thời gian đóng</th>
            <th class="col-md-2" style="padding-left:5px;"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            count++;
            <tr>
                <td style="padding-left:5px;">@count</td>
                <td style="padding-left:5px;">@item.EventName</td>
                <td style="padding-left:5px;">@item.StartTime.ToString("dd/MM/yyyy ") <b> @item.StartTime.ToString("HH:mm:ss")</b> </td>
                <td style="padding-left:5px;">@item.EndTime.ToString("dd/MM/yyyy")<b> @item.EndTime.ToString("HH:mm:ss")</b></td>
                <td style="padding-left:5px;">
                    <button  class="btn btn-primary small" style="font-size:11px !important;line-height:13px;padding:4px 10px;" name="btnEdit" eid="@item.Id" type="button"><i class="icon-edit"></i>&nbsp;Sửa</button> 
                    <button  class="btn btn-primary small" style="font-size:11px !important;line-height:13px;padding:4px 10px;" name="btnDelete" eid="@item.Id" type="button"><i class="icon-trash"></i>&nbsp;Xóa</button>  
                </td>
            </tr>    
        }
    </tbody>
</table>