﻿@using BCRM.CheckInEvent.Models
@model List<EventModel>
@{
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
    var defaultEvent = ViewBag.DefaultEvent == null ? new EventModel() { Id = 0 } : (EventModel)ViewBag.DefaultEvent;
}
<h1 style="padding-left: 15px;">
    Danh sách trúng thưởng</h1>
<div class="search-box col-md-12" id="frmSearchLuckyNumber">
    <div class="row">
        <div class="col-md-6">
            <select id="selEvent" class="form-control" title="Danh sách các sự kiện diễn ra">
                @foreach(var e in Model)
                {
                    if (e.Id == defaultEvent.Id && e.IsInWebCheckIn == defaultEvent.IsInWebCheckIn)
                    {
                        <option selected="selected" value="@(e.Id + "_" + (e.IsInWebCheckIn == true ? "1" : "0"))">@e.Name</option>                                               
                    }
                    else
                    {
                        <option value="@(e.Id + "_" + (e.IsInWebCheckIn == true ? "1" : "0"))">@e.Name</option> 
                    }
                }
            </select>
        </div>
    </div>
    <div class="col-md-3">
        <button id="btnSearch" class="btn btn-success" type="button"><i class="icon-search"></i>&nbsp;Tìm kiếm</button>
    </div>
</div>
<div class="search-event" style="width: 100%;margin-top:15px;" id="SearchLuckyNumber">
    <div class="additonal-action"></div>
    <div id="search-content-list" class="col-md-12"></div>
</div>

<script type="text/javascript">
    event_index.init();
</script>

