﻿@using BCRM.CheckInEvent.Models
@model LuckyNumberModel
@{
    Layout = "~/Views/Shared/_LuckyDrawLayout.cshtml";
}
<div class="row-number" id="slot-spin">
    <h1>Lucky Draw</h1>
    <div class="result hide">
        <p>Chúc mừng</p>
        <p class="name">Nguyễn Hoàng Anh</p>
        <p class="department">(Phòng Truyền Thông - <span>Hà Nội</span>)</p>
    </div>
    <div class="list-item-count">
        <div style="background: url(../../Content/images/bg-number.png) repeat-x center;display: inline-flex;height: 168px;">
            <ul class="slot"></ul>
            <ul class="slot"></ul>
            <ul class="slot"></ul>
            <ul class="slot"></ul>
            <ul class="slot"></ul>
        </div>
    </div>
    <div class="action">
        <button type="button" id="btnPlay" class="btn-quayso">Quay số</button>
        <button type="button" eid="@Model.EventId" iiwci="@(Model.IsInWebCheckin == true ? 1 : 0)" id="btnStop" class="btn-dung hide">Dừng</button>
        <input type="hidden" id="hiddEventId" value="@Model.EventId" />
        <input type="hidden" id="hiddIsWebCheckin" value="@(Model.IsInWebCheckin == true ? 1 : 0)" />
    </div>
</div>
@section Script{
    <script type="text/javascript" charset="utf-8">
        lucky_number.init();
    </script>
}