﻿@using BCRM.CheckInEvent.Models
@model List<LuckyNumberForSearchModel> 
@{
    Layout = null;
    var count = 1;
    var eventId= (int) ViewBag.EventId;
    var isWebCheckin = (bool) ViewBag.IsInWebCheckin;
}
<table id="tablLuckyNumber" class="table-striped table-bordered" style="width: 100%">
    <thead>
        <tr>
            <th style="width:25px;" >STT</th>
            <th class="col-md-2" >Mã vé trúng thưởng</th>
            <th class="col-md-5">Tên người trúng thưởng</th>
            <th class="col-md-2">Người quay số</th>
            <th class="col-md-3"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
             <tr>
                <td>@(count++)</td>
                <td>@item.Code</td>
                <td>@item.InviteeName</td>
                <td>@item.CreatedBy</td>
                <td style="text-align:center;" >
                    @*<a name="btnDelete" uid="@item.Id" class="btn blue"  href="javascript:void(0);"><i class="icon-trash"></i>&nbsp;Xóa</a>*@
                    <a name="btnDelete" uid="@item.Id" class="btn blue"  href="javascript:void(0);"><i class="icon-trash"></i>&nbsp;Xóa</a>
                </td>
             </tr>
        }
    </tbody>
</table>

<div class="actions" style="width:100%;margin-top:15px;">
    <button id="btnClose" type="button" class="btn btn-primary"><i class="icon-remove"></i>&nbsp;Đóng</button>
    <input type="hidden" id="hiddEventId" value="@eventId" />
    <input type="hidden" id="hiddIsInWebCheckin" value="@(isWebCheckin == true ? 1:0)" />
</div>