﻿@using BCRM.CheckInEvent.Models
@model List<EventModel>
@{
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
    var defaultEvent = ViewBag.DefaultEvent == null ? new EventModel() { Id = 0 } : (EventModel)ViewBag.DefaultEvent;
    var lstPlaceAttendEvent = (List<KeyValuePair<string, string>>)ViewBag.LstPlaceAttendEvent;
}
<h1 style="padding-left:15px;">Thống kê</h1> 
<div class="panel panel-search"  id="frmSearchStatistic">
    <div class="panel-heading"><i class="icon-cogs"></i> &nbsp; Thống kê sự kiện</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-5">
                <select id="selEvent" class="form-control" title="Danh sách các sự kiện diễn ra">
                    @foreach(var e in Model)
                    {
                        if (e.Id == defaultEvent.Id && e.IsInWebCheckIn == defaultEvent.IsInWebCheckIn)
                        {
                            <option selected="selected" value="@(e.Id + "_" + (e.IsInWebCheckIn == true ? "1" : "0"))">@e.Name</option>                                               
                        }
                        else
                        {
                            <option value="@(e.Id + "_" + (e.IsInWebCheckIn == true ? "1" : "0"))">@e.Name</option> 
                        }
                    }
                </select>
            </div>
            <div class="col-md-2 hide">
                <select id="dllSessions"  class="form-control">
                    <option value="0">--Chọn tất cả --</option>
                </select>
            </div>
            <div class="col-md-2">
                <select id="dllPlaceOfAttendEvent"  class="form-control">
                    <option value="">--Tất cả địa điểm tổ chức --</option>
                    @foreach (var item in lstPlaceAttendEvent)
                    {
                        <option value="@item.Key">@item.Value</option> 
                    }
                </select>
            </div>
            <div class="col-md-3">
                <button id="btnSearch" title="Thống kê số khách mời của từng sự kiện" class="btn btn-success" type="button" ><i class="icon-search"></i>&nbsp;Tìm kiếm</button>    
            </div>
        </div>
    </div>
</div>
@*<div class="search-box col-md-12" id="frmSearchStatistic">
    
</div>*@
<div class="panel panel-result" id="SearchStatistic">
    <div class="panel-heading">
        <i class="icon-reorder"></i> &nbsp; Kết quả thống kê
    </div>
    <div class="panel-body">
        
    </div>
</div>

<div class="search-invite-event" id="SearchStatistic" style="margin-top:15px;">
    <div class="additonal-action"></div>
    <div id="search-content-list" class="col-md-12"></div>
</div>

<script type="text/javascript">
    statistic_invitee.init();
</script>


