﻿@using BCRM.CheckInEvent.Models
@model CheckInStatisticModel
@{
    Layout = null;
    var isInCheckin = (bool)ViewBag.IsInWebCheckIn;
}

<p><b><span style="color:red;">Ghi chú : </span> (Số khách đã check in) / (số khách đã mời)</b> </p>

@if (isInCheckin)
{
    <table id="tablInviteEvent"  class="table-striped table-bordered">
        <thead>
            <tr>
                <th class="col-md-2">Số khách mời chính</th>
                <th class="col-md-2">Số khách vãng lai</th>
                <th class="col-md-2">Số khách đi cùng</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td align="center">@Model.TotalOfficialCheckedIn / @Model.TotalOfficial</td>
                <td align="center">@Model.TotalAnonymousCheckedIn / @Model.TotalAnonymous</td>
                <td align="center">@Model.TotalAccompanyInviteeCheckedIn / @Model.TotalAccompanyInvitee</td>
            </tr>    
            <tr>
                <td colspan="6"><b>Tống số khách đã Checkin : </b> @Model.TotalCheckIn / @Model.TotalCustomer</td>
            </tr>
            <tr>
                <td colspan="6"><b>Tống số khách tham dự : </b> @(Model.TotalCheckIn + Model.TotalAccompanyInviteeCheckedIn) </td>
            </tr>
        </tbody>
    </table>
}
else
{
     <table id="tablInviteEvent"  class="table-striped table-bordered">
        <thead>
            <tr>
                <th class="col-md-2">Số khách VIP</th>
                <th class="col-md-2">Số khách thường</th>
                <th class="col-md-2">Số khách mời chính</th>
                <th class="col-md-2">Số khách đính kèm</th>
                <th class="col-md-2">Số khách vãng lai</th>
                <th class="col-md-2">Số khách đi cùng</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td align="center">@Model.TotalVIPCheckedIn /  @Model.TotalVIP</td>
                <td align="center">@Model.TotalNormalCheckedIn / @Model.TotalNormal</td>
                <td align="center">@Model.TotalOfficialCheckedIn / @Model.TotalOfficial</td>
                <td align="center">@Model.TotalAttachCheckedIn / @Model.TotalAttach</td>
                <td align="center">@Model.TotalAnonymousCheckedIn / @Model.TotalAnonymous</td>
                <td align="center">@Model.TotalAccompanyInviteeCheckedIn / @Model.TotalAccompanyInvitee</td>
            </tr>    
            <tr>
                <td colspan="6"><b>Tống số khách đã Checkin : </b> @Model.TotalCheckIn / @Model.TotalCustomer</td>
            </tr>
            <tr>
                <td colspan="6"><b>Tống số khách tham dự : </b> @(Model.TotalCheckIn + Model.TotalAccompanyInviteeCheckedIn) </td>
            </tr>
        </tbody>
    </table>
}



