﻿@model string
@{
    Layout = null;
}
<div class="row-fluid">
    <div class="portlet box red">
        <div class="portlet-title">
            <div class="caption"></div>
            <div class="tools">
                <a href="javascript:;" class="remove" remove="true"></a>
            </div>
        </div>
        <div class="portlet-body form">
            <div class="row-fluid">
                <div class="span12">
                    <h1>Có lỗi xảy ra!</h1>
                </div>
                <div>
                    @Html.Raw(@Model) 
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    app.initPortletTools();
</script>

