﻿@model BCRM.CheckInEvent.Models.PagerModel
@{Layout = null;}
 <div class="row-fluid">
    <div class="span6">
        <div class="dataTables_info" id="sample_2_info">
            Bạn đang xem trang @(Model.TotalPage > 0 ? Model.CurrentPage : 0) trên tổng số @(Model.TotalPage > 0 ? Model.TotalPage.ToString("#,###,###") : Model.TotalPage.ToString())  trang (Có tất cả @(Model.TotalItem > 0 ? Model.TotalItem.ToString("#,###,###") : Model.TotalItem.ToString()) bản ghi)
        </div>
    </div>
    @if (Model.TotalItem > 0)
    {
         <div class="span6">
            <div class="dataTables_paginate paging_bootstrap pagination">
                <ul  class="pagination">
                    @*<li class="prev"><a title="Về trang đầu" href="javascript:void(0);" onclick="javascript:@(Model.ActionScript)(1)"> Đầu tiên </a></li>*@
                    @if (Model.CurrentPage == 1)
                    {
                        <li class="prev active"><a title="Về trang trước"> ←Trước </a></li>
                    }
                    else
                    { 
                        <li class="prev"><a title="Về trang trước" href="javascript:void(0);" onclick="javascript:@(Model.ActionScript)(@Model.Previous)"> ←Trước </a></li>
                    }
                    @if (Model.TotalPage > 0)
                    {
                        if (Model.TotalPage <= 10)
                        {
                            for (int i = 1; i <= Model.TotalPage; i++)
                            {
                                if (Model.CurrentPage == i)
                                {
                                    <li class="active"><a title="Trang @i">@i</a></li>
                                }
                                else
                                {
                                    <li><a title="Trang @i"  href="javascript:void(0);" onclick="javascript:@(Model.ActionScript)(@i)">@i</a></li>
                                }
                            }
                        }
                        else
                        {
                            if (Model.CurrentPage < 6)
                            {
                                for (int i = 1; i <= 10; i++)
                                {
                                    if (Model.CurrentPage == i)
                                    {
                                        <li class="active">
                                            <a title="Trang @i">@i</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <a title="Trang @i" href="javascript:void(0);" onclick="javascript:@(Model.ActionScript)(@i)">@i</a>
                                        </li>
                                    }
                                }
                            }
                            else
                            {
                                int start;
                                int end;
                                if (Model.CurrentPage + 5 > Model.TotalPage)
                                {
                                    start = Model.TotalPage - 10;
                                    end = Model.TotalPage;
                                }
                                else
                                {
                                    start = Model.CurrentPage - 4;
                                    end = Model.CurrentPage + 5;
                                }
                                for (int i = start; i <= end; i++)
                                {
                                    if (Model.CurrentPage == i)
                                    {
                                        <li class="active">
                                            <a title="Trang @i">@i</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <a title="Trang @i" href="javascript:void(0);" onclick="javascript:@(Model.ActionScript)(@i)">@i</a>
                                        </li>
                                    }
                                }
                            }
                        }
                    }
                    @if (Model.CurrentPage == Model.TotalPage || Model.TotalPage == 0)
                    {
                        <li class="next active"><a title="Về trang sau"> Sau →  </a></li>
                    }
                    else
                    { 
                        <li class="next"><a  title="Về trang sau" href="javascript:void(0);" onclick="javascript:@(Model.ActionScript)(@Model.Next)"> Sau →  </a></li>
                    }
                    @*<li><a title="Về trang cuối" href="javascript:void(0);" onclick="javascript:@(Model.ActionScript)(@Model.TotalPage)"> Cuối cùng </a></li>*@
                </ul>
            </div>
        </div>
    }
    
</div>
