﻿@model string
@{
    Layout = null;
}
<div class="alert alert-warning" style="margin-left:30px;margin-top:15px;">
  <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>  
  <h3 style="padding:0px;margin-top:0px;">Cảnh báo!</h3> @Model
</div>
