﻿@using BCRM.CheckInEvent.Models
@model EventModelForCreate
@{
    Layout = null;
}
<div id="frmAddNewEvent" class="col-md-12">
    <div class="row">
        <div class="form-group col-md-3">
            <label class="control-label" for="txtEventCode">Mã sự kiện <span style="color:Red;">*</span></label>
            <div class="input-group">
                <input  id="txtEventCode" type="text" class="form-control text-input" />    
            </div>
            <div class="show-message">
                
            </div>
        </div>
        <div class="form-group col-md-9">
            <label class="control-label" for="txtEvent">Sự kiện <span style="color:Red;">*</span></label>
            <div class="input-group">
                <input id="txtEvent" type="text" style="width:100%;" class="form-control text-input" />
            </div>
            <div class="show-message"></div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-3">
            <label  class="control-label" for="txtStartTime">Ngày bắt đầu<span style="color:Red;">*</span></label>
            <div class='input-group date' >
                <input type='text' id='txtStartTime' class="form-control date" />
            </div>
            <div class="show-message">
            </div>
        </div>
        <div class="form-group col-md-3">
            <label  class="control-label" for="txtEndTime">Ngày kết thúc <span style="color:Red;">*</span></label>
            <div class='input-group date' >
                <input type='text' id='txtEndTime' class="form-control date" />
            </div>
            <div class="show-message">
            </div>
        </div>    
        <div class="col-md-6 ">
            <div class="row">
                <div class="form-group col-md-2" style="padding-right:0px;" >
                    <label  class="control-label" for="chkActive">Hoạt động </label>
                    <div class='input-group' >
                        <input type="checkbox" id="chkActive" class="checkbox" checked="checked" />
                    </div>
                    <div class="show-message">
                    </div>
                </div>
                <div class="form-group col-md-4" style="padding-right:0px;">
                    <label  class="control-label" for="chkDefaultEvent">Sự kiện mặc định </label>
                    <div class='input-group' >
                        <input type="checkbox" id="chkDefaultEvent" class="checkbox" />
                    </div>
                    <div class="show-message">
                    </div>
                </div>
                <div class="form-group col-md-4" style="padding-right:0px;">
                    <label  class="control-label" for="chkIsBcrmUse">Áp dụng cho BCRM </label>
                    <div class='input-group' >
                        <input type="checkbox" id="chkIsBcrmUse" class="checkbox" />
                    </div>
                </div>  
                
            </div>
        </div>
    </div>
    <div class="row" name="UsingInBCRM">
        <div class="form-group col-md-3">
            <label  class="control-label" for="txtDeadline">Ngày chốt sự kiện<span style="color:Red;">*</span></label>
            <div class='input-group date' >
                <input type='text' id='txtDeadline' class="form-control date" />
            </div>
            <div class="show-message"></div>
        </div>
        <div class="form-group col-md-3">
            <label class="control-label" for="txtRevenueStartDate">Ngày bắt đầu tính doanh thu<span style="color:Red;">*</span></label>
            <div class='input-group date' >
                <input type='text' id='txtRevenueStartDate' class="form-control date" />
            </div>
            <div class="show-message"></div>
        </div>
        <div class="form-group col-md-3">
            <label class="control-label" for="txtRevenueEndDate">Ngày kết thúc tính doanh thu<span style="color:Red;">*</span></label>
            <div class='input-group date' >
                <input type='text' id='txtRevenueEndDate' class="form-control date" />
            </div>
            <div class="show-message"></div>
        </div>
    </div>
    <div class="row" name="UsingInBCRM">
        <div class="form-group col-md-3">
            <label class="control-label" for="ddlRevenueCalculation">Cách tính doanh thu<span style="color:Red;">*</span></label>
            <div class='input-group' >
                <select id="ddlRevenueCalculation" class="form-control select">
                    <option value="1">Tính tổng</option>
                    <option value="2">Tính trung bình</option>
                </select>
            </div>
            <div class="show-message"></div>
        </div>
        <div class="form-group col-md-3">
            <label class="control-label" for="chkIsAllowAttach">Cho phép đính kèm </label>
            <div class='input-group' >
                <input type="checkbox" id="chkIsAllowAttach" checked="checked"  class="checkbox" />
            </div>
            <div class="show-message"></div>
        </div>
        <div class="form-group col-md-6" >
            <label class="control-label" for="ddlDeployEvent">Áp dụng cho<span style="color:Red;">*</span></label>
            <div class="input-group">
                <select id="ddlDeployEvent" multiple class="chzn-select form-control select" style="width:350px;" placeholder="Lựa chọn phòng ban" >
                    <option value="0">Chọn tất cả</option>
                    @foreach (var item in Model.LstGroup)
                    {
                        <option value="@item.GroupId">@item.GroupName </option>
                    }
                </select>    
            </div>
            <div class="show-message"></div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label class="control-label" for="txtSMSTitle">Nội dung SMS <span style="color:Red;">*</span></label>
            <div class="input-group">
                <textarea id="txtSMSTitle"  class="form-control text-input"  cols="4" rows="6"></textarea>
            </div>
            <div class="show-message"></div>
        </div>
        <div class="form-group col-md-6">
            <label class="control-label" for="txtDescription">Mô tả</label>
            <div class="input-group">
                <textarea id="txtDescription"  class="form-control text-input"  cols="4" rows="6"></textarea>    
            </div>
            <div class="show-message"></div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-12" style="padding-right:0px;" >
            <label class="control-label" for="chkIsHasSession">Chia phiên tham dự (Có / không)</label>
            <div class='input-group' >
                <input type="checkbox" id="chkIsHasSession" class="checkbox" />
            </div>
            <div class="show-message"></div>
        </div>
    </div>
    @Html.Partial("~/Views/Session/CreatePartial.cshtml")
    <hr />
    <div class="actions row">
        <button id="btnSave" type="button" class="btn btn-primary"><i class="icon-save"></i>&nbsp;Lưu</button>
        <button id="btnCancel" type="button" class="btn btn-primary"><i class="icon-refresh"></i>&nbsp;Reset</button>
        <button id="btnClose" type="button" class="btn btn-primary"><i class="icon-close"></i>&nbsp;Đóng</button>
    </div>
</div>
