﻿@using BCRM.CheckInEvent.Models
@model EventModelForCreate
@{
    Layout = null;
    var isDefault = (bool)ViewBag.IsDefaultEvent;
    var lstGroup = (List<Group>)ViewBag.LstGroup;
}
<div id="frmEditEvent" class="col-md-12">
    <div class="row">
        <div class="form-group col-md-3">
            <label class="control-label" for="txtEventCode">Mã sự kiện <span style="color:Red;">*</span></label>
            <div class="input-group">
                <input id="txtEventCode" type="text" value="@Model.EventCode" class="form-control text-input" />    
            </div>
            <div class="show-message">
            </div>
        </div>
        <div class="form-group col-md-9">
            <label class="control-label" for="txtEvent">Sự kiện <span style="color:Red;">*</span></label>
            <div class="input-group">
                <input id="txtEvent" type="text" value="@Model.Name" class="form-control text-input" />    
            </div>
            <div class="show-message">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-3">
            <label class="control-label" for="txtStartTime">Ngày bắt đầu<span style="color:Red;">*</span></label>
            <div class='input-group date' >
                <input type='text' id='txtStartTime' value="@Model.StartDate.ToString("dd/MM/yyyy")" class="form-control date" />
            </div>
            <div class="show-message"></div>
        </div>
        <div class="form-group col-md-3">
            <label class="control-label" for="txtEndTime">Ngày kết thúc <span style="color:Red;">*</span></label>
            <div class='input-group date' >
                <input type='text' id='txtEndTime' value="@Model.EndDate.ToString("dd/MM/yyyy")" class="form-control date" />
            </div>
            <div class="show-message"></div>
        </div>    
        <div class="form-group col-md-6 ">
            <div class="row">
                <div class="form-group col-md-4">
                    <label class="control-label" for="chkActive">Hoạt động </label>
                    <div class='input-group' >
                        @if (Model.IsEnable)
                        {
                            <input type="checkbox" id="chkActive" checked="checked" class="checkbox" />    
                        }
                        else
                        {
                            <input type="checkbox" id="chkActive" class="checkbox"/>                             
                        }
                    </div>
                    <div class="show-message"></div>
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label" for="chkActive">Sự kiện mặc định </label>
                    <div class='input-group' >
                        @if (isDefault)
                        {
                            <input type="checkbox" id="chkDefaultEvent" checked="checked" class="checkbox" />
                        }
                        else
                        {
                            <input type="checkbox" id="chkDefaultEvent" class="checkbox" />    
                        }
                    </div>
                    <div class="show-message"></div>
                </div>     
                <div class="form-group col-md-4">
                    <label class="control-label"  class="control-label" for="chkIsBcrmUse">Áp dụng cho BCRM </label>
                    <div class='input-group' >
                        @if (Model.IsBcrmUse)
                        {
                            if (Model.IsHadInvitee)
                            {
                                 <input disabled="disabled" type="checkbox" id="chkIsBcrmUse" checked="checked" class="checkbox" />     
                            }
                            else
                            {
                                <input type="checkbox" id="chkIsBcrmUse" checked="checked" class="checkbox" />         
                            }

                        }
                        else
                        {
                            if (Model.IsHadInvitee)
                            {
                                <input disabled="disabled" type="checkbox" id="chkIsBcrmUse" class="checkbox" />
                            }
                            else
                            {
                                <input type="checkbox" id="chkIsBcrmUse" class="checkbox" />
                            }

                        }
                        
                    </div>
                    <div class="show-message"></div>
                </div>     
            </div>
        </div>  
    </div>
    @if (Model.IsBcrmUse)
    {
        <div class="row" name="UsingInBCRM">
            <div class="form-group col-md-3">
                <label class="control-label" for="txtDeadline">Ngày chốt sự kiện<span style="color:Red;">*</span></label>
                <div class='input-group date' >
                    <input type='text' id='txtDeadline' value="@Model.Deadline.Value.ToString("dd/MM/yyyy")" class="form-control date" />
                </div>
                <div class="show-message"></div>
            </div>
            <div class="form-group col-md-3">
                <label class="control-label" for="txtRevenueStartDate">Ngày bắt đầu tính doanh thu<span style="color:Red;">*</span></label>
                <div class='input-group date' >
                    <input type='text' id='txtRevenueStartDate' value="@Model.RevenueStartDate.Value.ToString("dd/MM/yyyy")" class="form-control date" />
                </div>
                <div class="show-message"></div>
            </div>
            <div class="form-group col-md-3">
                <label class="control-label" for="txtRevenueEndDate">Ngày kết thúc tính doanh thu<span style="color:Red;">*</span></label>
                <div class='input-group date' >
                    <input type='text' id='txtRevenueEndDate' value="@Model.RevenueEndDate.Value.ToString("dd/MM/yyyy")" class="form-control date" />
                </div>
                <div class="show-message"></div>
            </div>
        </div>
        <div class="row" name="UsingInBCRM">
            <div class="form-group col-md-3">
                <label class="control-label" for="ddlRevenueCalculation">Cách tính doanh thu<span style="color:Red;">*</span></label>
                <div class="input-group">
                    <select id="ddlRevenueCalculation" class="form-control select">
                        @if (Model.RevenueCalculation == 1)
                        {
                            <option selected="selected" value="1">Tính tổng</option>     
                        }
                        else
                        {
                            <option value="1">Tính tổng</option>
                        }
                        
                        @if (Model.RevenueCalculation == 2)
                        {
                            <option selected="selected" value="2">Tính trung bình</option>
                        }
                        else
                        {
                            <option value="2">Tính trung bình</option>     
                        }
                        
                    </select>
                </div>
                <div class="show-message"></div>
            </div>
            <div class="form-group col-md-3">
                <label class="control-label" for="chkIsAllowAttach">Cho phép đính kèm </label>
                <div class='input-group' >
                    @if (Model.IsAllowAttach.Value)
                    {
                        <input type="checkbox" id="chkIsAllowAttach" checked="checked" class="checkbox" />     
                    }
                    else
                    {
                        <input type="checkbox" id="chkIsAllowAttach" class="checkbox" /> 
                    }
                    
                </div>
                <div class="show-message"></div>
            </div>
            <div class="form-group col-md-6" >
                <label class="control-label" for="ddlDeployEventEdit">Áp dụng cho<span style="color:Red;">*</span></label>
                <div class="input-group">
                    <select id="ddlDeployEventEdit" multiple class="chzn-select form-control select" style="width:350px;" placeholder="Lựa chọn phòng ban" >
                        
                        @if (Model.LstDeployId.Contains(0))
                        {
                            <option selected="selected" value="0">Chọn tất cả</option>
                        }
                        else
                        {
                            <option value="0">Chọn tất cả</option>
                        }
                        @foreach (var item in lstGroup)
                        {
                            if (Model.LstDeployId.Contains(item.GroupId))
                            {
                                <option selected="selected" value="@item.GroupId">@item.GroupName </option>     
                            }
                            else
                            {
                                <option value="@item.GroupId">@item.GroupName </option> 
                            }
                        }
                    </select>    
                </div>
                <div class="show-message"></div>
            </div>
        </div>     
    }
    else
    {
          <div class="row hide" name="UsingInBCRM">
            <div class="form-group col-md-3">
                <label class="control-label" for="txtDeadline">Ngày chốt sự kiện<span style="color:Red;">*</span></label>
                <div class='input-group date' >
                    <input type='text' id='txtDeadline' class="form-control date" />
                </div>
                <div class="show-message"></div>
            </div>
            <div class="form-group col-md-3">
                <label class="control-label" for="txtRevenueStartDate">Ngày bắt đầu tính doanh thu<span style="color:Red;">*</span></label>
                <div class='input-group date' >
                    <input type='text' id='txtRevenueStartDate' class="form-control date" />
                </div>
                <div class="show-message"></div>
            </div>
            <div class="form-group col-md-3">
                <label class="control-label" for="txtRevenueEndDate">Ngày kết thúc tính doanh thu<span style="color:Red;">*</span></label>
                <div class='input-group date' >
                    <input type='text' id='txtRevenueEndDate' class="form-control date" />
                </div>
                <div class="show-message"></div>
            </div>
        </div>
        <div class="row hide" name="UsingInBCRM">
            <div class="form-group col-md-3">
                <label class="control-label" for="ddlRevenueCalculation">Cách tính doanh thu<span style="color:Red;">*</span></label>
                <div class="input-group">
                    <select id="ddlRevenueCalculation" class="form-control select">
                        <option value="1">Tính tổng</option>
                        <option value="2">Tính trung bình</option>     
                    </select>
                </div>
                <div class="show-message"></div>
            </div>
            <div class="form-group col-md-3">
                <label class="control-label" for="chkIsAllowAttach">Cho phép đính kèm </label>
                <div class='input-group' >
                    <input type="checkbox" id="chkIsAllowAttach" class="checkbox" /> 
                </div>
                <div class="show-message"></div>
            </div>
            <div class="form-group col-md-6" >
                <label class="control-label" for="ddlDeployEventEdit">Áp dụng cho<span style="color:Red;">*</span></label>
                <div class="input-group">
                    <select id="ddlDeployEventEdit" multiple class="chzn-select form-control select" style="width:350px;" placeholder="Lựa chọn phòng ban" >
                        <option value="0">Chọn tất cả</option>
                        @foreach (var item in lstGroup)
                        {
                            <option value="@item.GroupId">@item.GroupName </option> 
                        }
                    </select>    
                </div>
                <div class="show-message"></div>
            </div>
        </div> 
    }
    <div class="row">
        <div class="form-group col-md-6">
            <label class="control-label" for="txtSMSTitle">Nội dung SMS <span style="color:Red;">*</span></label>
            <div class="input-group">
                <textarea id="txtSMSTitle"  class="form-control text-input"  cols="4" rows="6">@Model.SMSTitle</textarea>    
            </div>
            <div class="show-message"></div>
        </div>
        <div class="form-group col-md-6">
            <label class="control-label" for="txtDescription">Mô tả</label>
            <div class="input-group">
                <textarea id="txtDescription"  class="form-control text-input"  cols="4" rows="6">@Model.Description</textarea>
            </div>
            <div class="show-message"></div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-12" style="padding-right:0px;" >
            <label class="control-label" for="chkIsHasSession">Chia phiên tham dự (Có / không)</label>
            <div class='input-group' >
                @if (Model.IsHadSession)
                {
                    if (Model.IsHadInvitee)
                    {
                        <input type="checkbox" disabled="disabled" id="chkIsHasSession" checked="checked" class="checkbox" />     
                    }
                    else
                    {
                        <input type="checkbox" id="chkIsHasSession" checked="checked" class="checkbox" />
                    }

                }
                else
                {
                    if (Model.IsHadInvitee)
                    {
                        <input type="checkbox" disabled="disabled" id="chkIsHasSession" class="checkbox" />     
                    }
                    else
                    {
                        <input type="checkbox" id="chkIsHasSession" class="checkbox" />     
                    }

                }
                
            </div>
            <div class="show-message"></div>
        </div>
    </div>
    @if (Model.LstSession.Count > 0)
    {
        <div class="row  col-md-12" name="ManageSessionEdit" >
            <table name="TblEditEvent" class="table table-bordered table-advance">
                <thead>
                    <tr>
                        <th>Tên phiên</th>
                        <th>Thời gian bắt đầu</th>
                        <th>Thời gian kết thúc</th>
                        <th>Mô tả</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.LstSession)
                    {
                        <tr>
                            <td>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input class="form-control text-input" value="@item.Name" type="text" name="txtName" style="width: 100%;" />
                                    </div>
                                    <div class="show-message"></div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <div class="input-group" style="display:table-row;">
                                        <input type="text" class="form-control date" value="@item.StartDate.ToString("dd/MM/yyyy")" name="txtStartDate" style="width:160px;margin-right: 3px; " /> 
                                        <input type="text" class="form-control" value="@item.StartDate.ToString("HH:mm")" name="txtStartDateTime" style="width:80px;margin-left: 2px; " /> 
                                    </div>
                                    <div class="show-message"></div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <div class="input-group" style="display:table-row;">
                                        <input type="text" class="form-control date" value="@item.EndDate.ToString("dd/MM/yyyy")" name="txtEndDate"  style="width:160px;margin-right: 3px; " /> 
                                        <input type="text" class="form-control" value="@item.EndDate.ToString("HH:mm")" name="txtEndDateTime" style="width:80px;margin-left: 2px;" /> 
                                    </div>
                                    <div class="show-message"></div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input class="form-control text-input" type="text" name="txtDescription" value="@item.Description" style="width: 100%;" /> 
                                    </div>
                                    <div class="show-message"></div>
                                </div>
                            </td>
                            <td>
                                @if (!Model.IsHadInvitee)
                                {
                                    <button name="btnDelete">Xóa</button>     
                                }
                                
                                <input type="hidden" name="hddSessionId" value="@item.Id" />
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5">
                            <div class="col-md-12">
                                <button name="btnAddSession" style="float:right;" type="button" class="btn btn-primary">Thêm</button>
                            </div>
                        </td>

                    </tr>
                </tfoot>
            </table>
        </div> 
    }
    else
    {
        <div class="row  col-md-12 hide" name="ManageSessionEdit" >
            <table class="table table-bordered table-advance">
                <thead>
                    <tr>
                        <th>Tên phiên</th>
                        <th>Thời gian bắt đầu</th>
                        <th>Thời gian kết thúc</th>
                        <th>Mô tả</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5">
                            <div class="col-md-12">
                                <button name="btnAddSession" style="float:right;" type="button" class="btn btn-primary">Thêm</button>
                            </div>
                        </td>

                    </tr>
                </tfoot>
            </table>
        </div>  
    }
    <hr />
    <div class="actions col-md-12">
        <button id="btnSave" type="button" class="btn btn-primary"><i class="icon-save"></i>&nbsp;Lưu</button>
        <button id="btnCancel" type="button" class="btn btn-primary"><i class="icon-refresh"></i>&nbsp;Reset</button>
        <button id="btnClose" type="button" class="btn btn-primary"><i class="icon-close"></i>&nbsp;Đóng</button>
    </div>
    <div class="row hide">
        <input type="hidden" id="hiddId" value="@Model.Id" class="text-input" />
        <input type="hidden" id="hiddHasInvitee" value="@Model.IsHadInvitee" class="text-input" /> 
    </div>
</div>
