﻿@using BCRM.CheckInEvent.Models
@model EventIndexSearchModel
@{
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
    var currentUsser = (UserModel)ViewBag.CurrentUser;
}
<h1 style="padding-left: 15px;">
    Quản lý sự kiện</h1>
<div class="panel panel-search"  id="frmSearchEvent">
    <div class="panel-heading"><i class="icon-cogs"></i> &nbsp; Tìm kiếm thông tin sự kiện</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">
                <div class="input-group">
                    <input type="text" id="txtSearchText" class="form-control" id="txtSearchText" placeholder="-- Tên sự kiện --" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <select id="ddlDeployEvent" class="chzn-select form-control select" placeholder="Lựa chọn phòng ban" >
                        <option value="0">Chọn tất cả</option>
                        @foreach (var item in Model.LstGroup)
                        {
                            <option value="@item.GroupId">@item.GroupName </option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-md-2">
                <div class='input-group date' >
                    <input type='text' id='txtStartDate' value= "" placeholder="-- Ngày bắt đầu --" class="form-control" />
                </div>
            </div>
            <div class="col-md-2">
                <div class='input-group date' >
                    <input type='text' id='txtEndDate' placeholder="-- Ngày kết thúc --" class="form-control" />
                </div>
            </div>
        </div>
        <div style="width: 100%;margin-top:3px; margin-bottom: 3px;">
            <button id="btnSearch" class="btn btn-success" type="button"><i class="icon-search"></i>&nbsp;Tìm kiếm</button>
            <button id="btnAddNew" class="btn btn-success" type="button"><i class="icon-plus"></i>&nbsp;Tạo mới</button>
        </div>
    </div>
</div>
<div class="panel panel-result"  id="SearchEvent">
    <div class="panel-heading"><i class="icon-reorder"></i> &nbsp; Danh sách sự kiện</div>
    <div class="panel-body">
        
    </div>
</div>
<div class="panel panel-action"  id="CreateEvent">
    <div class="panel-heading"><i class="icon-reorder"></i>&nbsp; Thêm mới sự kiện</div>
    <div class="panel-body">
        @Html.Action("Create", "Event")
    </div>
</div>

<div class="panel panel-action hide"  id="EditEvent">
    <div class="panel-heading"><i class="icon-reorder"></i>&nbsp; Sửa sự kiện</div>
    <div class="panel-body">
    </div>
</div>
<div id="ShowSlotRotate" class="create-event hide"  style="width: 100%;margin-top:15px; padding-left:15px;">
</div>
<script type="text/javascript">
    event_index.init();
</script>

