﻿@using BCRM.CheckInEvent.Models
@using Libs
@model EventIndexSearchModel
@{
    Layout = null;
    var pager = (PagerModel)ViewBag.Pager;
    pager.ActionScript = "event_index.search";
    var count = 0;
}
<table id="tablInviteEvent" class="table-striped table-bordered" style="width: 100%">
    <thead>
        <tr>
            <th>STT</th>
            <th>Mã sự kiện</th>
            <th>Tên sự kiện</th>
            <th>Ngày bắt đầu</th>
            <th>Ngày kết thúc</th>
            <th>Cài đặt mặc định</th>
            <th>Trạng thái </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.LstEvent)
        {
            count++;
             <tr>
                <td>@count</td>
                <td>@item.EventCode</td>
                <td>@item.Name</td>
                <td>@item.StartDate.ToString("dd/MM/yyyy")</td>
                <td>@item.EndDate.ToString("dd/MM/yyyy")</td>
                <td>
                    @if (item.IsDefaultEvent)
                    {
                         <span class="label label-success">Mặc định</span>  
                    }
                 </td>
                <td>
                    @if (item.IsEnable == true)
                    {
                        <span class="label label-success">Hoạt động</span>  
                    }
                    else
                    {
                        <span class="label  label-danger">Đang dừng</span>
                    }
                </td>
                <td>
                    <div class="dropdown">
                      <button class="btn btn-primary small dropdown-toggle" style="font-size:11px !important;line-height:13px;padding:4px 10px;" type="button" data-toggle="dropdown">
                      <i class="icon-cog"></i>&nbsp;Quản lý
                      <span class="caret"></span></button>
                      <ul class="dropdown-menu">
                            @if (item.IsInWebCheckIn)
                            {
                                <li>
                                    <a name="btnEdit" uid ="@item.Id"  href="javascript:void(0);"><i class="icon-edit"></i>&nbsp;Sửa</a>
                                </li>
                                if (item.IsEnable == true)
                                {
                                    <li>
                                        <a name="btnStop" uid ="@item.Id"  href="javascript:void(0);"><i class="icon-stop"></i>&nbsp;Dừng hoạt động</a>
                                    </li>     
                                }
                                else
                                {
                                     <li>
                                        <a name="btnActive" uid ="@item.Id"  href="javascript:void(0);"><i class="icon-ok"></i>&nbsp;Chạy sự kiện</a>
                                    </li>
                                }
                            }
                            @if (item.IsEnable && !item.IsDefaultEvent )
                            {
                                <li>
                                    <a name="btnSetDefault" uid ="@item.Id" iwci="@(item.IsInWebCheckIn ? 1 : 0)"  href="javascript:void(0);"><i class="icon-ok"></i>&nbsp;Sự kiện mặc định</a>
                                </li>
                            }
                            <li>
                                <a name="btnSlot" target="_blank" href="@("/quay-so-trung-thuong/" + item.Id + "/" + (item.IsInWebCheckIn == true ? 1 : 0))" ><i class="icon-gift"></i>&nbsp;Quay số trúng thưởng </a>
                            </li>
                            <li>
                                <a name="btnListLuckyNumber" uid="@item.Id" iwci="@(item.IsInWebCheckIn ? 1 : 0)"  href="javascript:void(0);" ><i class="icon-gift"></i>&nbsp;Danh sách trúng thưởng </a>
                            </li>
                      </ul>
                    </div>
                </td>
             </tr>
        }
    </tbody>
</table>
@Html.Action("Paging", "Common", new { pager = ViewBag.Pager })


