﻿@using BCRM.CheckInEvent.Models
@model CheckInInfo
@{
    Layout = null;
}
<div id="frmAddAccompanyInviteeInWebCheckin"  style="width: 420px; display: block; top: 25%; left: 40%; overflow-x: hidden; overflow-y: hidden !important;outline:none;"  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialogSuccessLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="height: 100%;padding: 0px;border: none;">
        <div class="modal-content" style="border-radius:0px;width: 420px;">
            <div class="modal-header" style="color: #fff;background-color: #428bca;border-color: #d43f3a;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="dialogSuccessLabel">Thông tin checkin</h4>
            </div>
            <div class="modal-body">
                @if (Model.IsHasSession)
                {
                     <div class="row">
                        <div class="form-group col-md-12">
                            <label class="control-label" for="dllSessionId">Chọn phiên <span style="color:Red;">*</span></label>
                            <div class="control-label">
                                <select id="dllSessionId" class="form-control select">
                                    @foreach (var session in Model.LstSession)
                                    {
                                        if (Model.SessionId == session.Id)
                                        {
                                            <option selected="selected" value="@session.Id"> @session.Name</option> 
                                        }
                                        else
                                        {
                                            <option value="@session.Id"> @session.Name</option>      
                                        }

                                    }
                                </select>
                            </div>
                            <div class="show-message"></div>
                        </div>
                    </div>
                }
                
                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="control-label" for="txtAccompanyInvitee">Số lượng khách đi cùng <span style="color:Red;">*</span></label>
                        <div class="control-label">
                            <input type='number' id='txtAccompanyInvitee' value="@Model.AccompanyInvitee" class="form-control phone-search text-input" />
                        </div>
                        <div class="show-message"></div>
                    </div>
                </div>
                <hr />
                <div class="actions col-md-12" style="margin-bottom:15px;">
                    <input type="hidden" id="hdfEventId" value="@Model.EventId" />
                    <input type="hidden" id="hdfInviteEventId" value="@Model.InviteEventId" />
                    <button id="btnSave" type="button" class="btn btn-success"><i class="icon-save"></i>&nbsp;XÁC NHẬN</button>
                    <button id="btnCancel" type="button" class="btn btn-primary"  data-dismiss="modal"><i class="icon-remove"></i>&nbsp;Hủy</button>
                </div> 
            </div>
        </div>
    </div>
</div>
