﻿@using BCRM.CheckInEvent.Models
@model CheckInInfo
@{
    Layout = null;
}
<div id="frmAddAccompanyInvitee" style="width: 420px; display: block; top: 40%; left: 40%; height: 228px; overflow-x: hidden; overflow-y: hidden !important;"  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialogSuccessLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="height: 100%;padding: 0px;border: none;">
        <div class="modal-content" style="border-radius:0px;width: 420px;">
            <div class="modal-header" style="color: #fff;background-color: #428bca;border-color: #d43f3a;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="dialogSuccessLabel">Khách đi cùng</h4>
            </div>
            <div class="modal-body"  style="margin-bottom:15px;">
                <div class="row" >
                    <div class="form-group col-md-12">
                        <label for="txtAccompanyInvitee">Số lượng khách đi cùng <span style="color:Red;">*</span></label>
                        <input type='text' id='txtAccompanyInvitee' value="@Model.AccompanyInvitee" class="form-control" />
                    </div>
                </div>
                <div class="actions col-md-12" style="margin-bottom:15px;">
                    <input type="hidden" id="hdfEventId" value="@Model.EventId" />
                    <input type="hidden" id="hdfInviteEventId" value="@Model.InviteEventId" />
                    <input type="hidden" id="hdfAttachId" value="@Model.AttachId" />
                    <button id="btnSave" type="button" class="btn btn-primary"><i class="icon-save"></i>&nbsp;Lưu</button>
                    <button id="btnCancel" type="button" class="btn btn-primary"  data-dismiss="modal"><i class="icon-remove"></i>&nbsp;Hủy</button>
                </div> 
            </div>
        </div>
    </div>
</div>
