﻿@using BCRM.CheckInEvent.Models
@model CheckInInfo
@{
    Layout = null;
}
<div id="frmJustAddAccompanyMemberInWebCheckin" style="margin-top:25px;">
    <div class="row"  style="margin-left:0;">
        <div class="form-group col-md-4">
            <label for="txtAccompanyInvitee">Số lượng khách đi cùng <span style="color:Red;">*</span></label>
            <input type='number' id='txtAccompanyInvitee' value="@Model.AccompanyInvitee" class="form-control phone-search" />
        </div>
    </div>
    <div class="actions col-md-12" style="margin-bottom:15px;">
        <input type="hidden" id="hdfEventId" value="@Model.EventId" />
        <input type="hidden" id="hdfInviteEventId" value="@Model.InviteEventId" />
        <button id="btnSave" type="button" class="btn btn-primary"><i class="icon-save"></i>&nbsp;Lưu</button>
        <button id="btnCancel" type="button" class="btn btn-primary"><i class="icon-remove"></i>&nbsp;Hủy</button>
    </div>    
</div>

<script type="text/javascript">
    accompany_member_add.init();
</script>
