﻿@using Libs
@using BCRM.CheckInEvent.Models
@model AnonymousInviteeInfoModel
@{
    Layout = null;
    var defaultEvent = ViewBag.DefaultEvent == null ? new EventModel() { Id = 0 } : (EventModel)ViewBag.DefaultEvent;
    var lstCustomerType = (List<KeyValuePair<int, string>>)ViewBag.ListCustomerType;
}
<div id="frmAddAnonymousInvitee" style="margin-top:25px;">
    <div class="row" style="margin-left:0px;">
        <div class="form-group col-md-4">
            <label class="control-label" for="ddlEventId">Sự kiện <span style="color:Red;">*</span></label>
            <div class="input-group">
                <select id="ddlEventId"  class="form-control select">
                    @foreach (var item in Model.LstEvents)
                    {
                        if (item.Id == defaultEvent.Id && item.IsInWebCheckIn == defaultEvent.IsInWebCheckIn)
                        {
                            <option selected="selected" value="@(item.Id + "_" + (item.IsInWebCheckIn == true ? "1" : "0"))">@item.Name</option>                                               
                        }
                        else
                        {
                            <option value="@(item.Id + "_" + (item.IsInWebCheckIn == true ? "1" : "0"))">@item.Name</option> 
                        }
                    }
                </select>
            </div>
            <div class="show-message"></div>
        </div>
        <div class="form-group col-md-4">
            <label class="control-label" for="txtCustomerName">Tên khách mời <span style="color:Red;">*</span></label>
            <div class="input-group">
                <input type='text' id='txtCustomerName' class="form-control text-input" />    
            </div>
            <div class="show-message"></div>
        </div>
        <div class="form-group col-md-2">
            <label class="control-label" for="txtCustomerPhone">Số điện thoại <span style="color:Red;">*</span></label>
            <div class="input-group">
                <input type='number' id='txtCustomerPhone' class="form-control phone-search text-input" />
            </div>
            <div class="show-message"></div>
        </div>
        <div class="form-group col-md-2">
            <label class="control-label" for="txtAccompanyMember">Khách đi cùng</label>
            <div class="input-group">
                <input id="txtAccompanyMember" type="number" value="0" disabled="disabled"  class="form-control phone-search text-input" />
            </div>
            <div class="show-message"></div>
        </div>
    </div>
    <div class="row" name="inwebcheckin"  style="margin-left:0px;">
        <div class="form-group col-md-4">
            <label class="control-label" for="txtCustomerEmailCheckIn">Email <span style="color:Red;">*</span></label>
            <div class="input-group">
                <input type="text" id='txtCustomerEmailCheckIn' class="form-control text-input" />
            </div>
            <div class="show-message"></div>
        </div>
        <div class="form-group col-md-4">
            <label class="control-label" for="txtCompanyNameCheckIn">Tên công ty</label>
            <div class="input-group">
                <input type='text' id='txtCompanyNameCheckIn'  class="form-control text-input" />
            </div>
            <div class="show-message"></div>
        </div>
        <div class="form-group col-md-2">
            <label class="control-label" for="dllCustomerTypeCheckIn">Loại khách mời </label>
            <div class="input-group">
                <select id="dllCustomerTypeCheckIn" class="form-control">
                    @foreach (var item in lstCustomerType)
                    {
                        <option value="@item.Key">@item.Value </option>  
                    }
                </select>
            </div>
            <div class="show-message"></div>
        </div>
        <div class="form-group col-md-2">
            <label class="control-label"  for="txtPositionNameCheckIn">Chức vụ </label>
            <div class="input-group">
                <input type="text" id='txtPositionNameCheckIn' class="form-control text-input" />
            </div>
            <div class="show-message"></div>
        </div>
    </div>
    <div class="row" name="inwebcheckin" style="margin-left:0px;">
        <div class="form-group col-md-2">
            <label class="control-label" for="dllPlaceOfAttendEvent">Nơi tổ chức sự kiện </label>
            <div class="input-group">
                <select id="dllPlaceOfAttendEvent"  class="form-control">
                    @foreach (var item in (List<KeyValuePair<string, string>>)ViewBag.ListPlaceAttendEvent)
                    {
                        <option value="@item.Key">@item.Value</option> 
                    }
                </select>
            </div>
            <div class="show-message"></div>
        </div>
        <div class="form-group col-md-2">
            <label class="control-label" for="dllRegisteredSource">Nguồn đăng kí </label>
            <div class="input-group">
                <select id="dllRegisteredSource"  class="form-control">
                    @foreach (var item in (List<KeyValuePair<int, string>>)ViewBag.ListRegisteredSource)
                    {
                        if (item.Key == 4)
                        {
                            <option selected value="@item.Key">@item.Value</option>  
                        }
                        else
                        {
                            <option value="@item.Key">@item.Value</option> 
                        }
                    }
                </select>    
            </div>
            <div class="show-message"></div>
        </div>   
        <div class="form-group col-md-4">
            <label for="txtIntroduceUser">Tên nhân viên mời</label>
            <div class="input-group">
                <input type='text' id='txtIntroduceUser' value=""  class="form-control" />
            </div>
            <div class="show-message"></div>
        </div> 
    </div>
    <div class="row" style="margin-left:0px;" name="IsHadSession">
        <div class="form-group col-md-6">
            <label for="dllSession"  class="control-label" style="white-space: nowrap;">Phiên tham dự <span style="color:Red;">*</span> </label>
            <div class="input-group">
                <select id="dllSession" multiple class="chzn-select form-control select">
                </select>
            </div>
            <div class="show-message"></div>    
        </div>
    </div>
    @*<div class="row hide" name="inbcrm" style="margin-left:0px;">
        <div class="form-group col-md-2">
            <label for="txtCustomerBirthday">Ngày sinh </label>
            <div class='input-group date' >
                <input type='text' id='txtCustomerBirthday' class="form-control" />
            </div>
        </div>
        <div class="form-group col-md-2">
            <label for="ddlCustomerSex">Giới tính </label>
            <select id="ddlCustomerSex"  class="form-control">
                <option value=""></option>
                <option value="0">Nữ</option>
                <option value="1">Nam</option>
            </select>
        </div>
        <div class="form-group col-md-2">
            <label for="txtCustomerEmail">Email </label>
            <input type='text' id='txtCustomerEmail' class="form-control" />
        </div>
        <div class="form-group col-md-2">
            <label for="txtCustomerRevenue">Doanh thu </label>
            <input type='text' id='txtCustomerRevenue' disabled="disabled" class="form-control" />
        </div>
        <div class="form-group col-md-2">
            <label for="dllCustomerType">Loại khách mời</label>
            <select id="dllCustomerType"  class="form-control">
                @foreach (var item in Model.ListCustomerType)
                {
                    <option value="@item.Key">@item.Value</option> 
                }
            </select>
        </div>
        <div class="form-group col-md-2">
            <label for="dllAbilityAttend">Khả năng tham dự</label>
            <select  id='dllAbilityAttend' class="form-control" >
                @foreach (var item in Model.ListAbilityAttend)
                {
                    <option value="@item.Key">@item.Value</option> 
                }
            </select>
        </div>
    </div>*@
    @*<div class="row hide"  name="inbcrm" style="margin-left:0px;">
        <div class="form-group col-md-4">
            <label for="txtCompanyName">Công ty </label>
            <input type='text' id='txtCompanyName' class="form-control" />
        </div>
        <div class="form-group col-md-2">
            <label for="dllCustomerPosition">Chức vụ </label>
            <select  id='dllCustomerPosition' class="form-control" >
                @foreach (var item in Model.ListCustomerPosition)
                {
                    <option value="@item.Key">@item.Value</option> 
                }
            </select>
        </div>
        <div class="form-group col-md-2">
            <label for="dllCompanySize">Quy mô </label>
            <select  id='dllCompanySize' class="form-control" >
                @foreach (var item in Model.ListCompanySize)
                {
                    if (item.Key == CompanySize.Other.GetHashCode())
                    {
                        <option selected="selected" value="@item.Key">@item.Value</option>      
                    }
                    else
                    {
                        <option value="@item.Key">@item.Value</option>
                    }

                }
            </select>
        </div>
        <div class="form-group col-md-4">
            <label for="txtCompanyAddress">Địa chỉ công ty / khách hàng</label>
            <input type='text' id='txtCompanyAddress' class="form-control" />
        </div>
    </div>*@
    @*<div class="row hide" name="inbcrm" style="margin-left:0px;">
        <div class="form-group col-md-2">
            <label for="dllCustomerVip">Khách Vip </label>
            <select id="dllCustomerVip"  class="form-control">
                <option value="0">Khách thường</option>
                <option value="1">Khách VIP</option>
            </select>
        </div>
        <div class="form-group col-md-10">
            <label for="txtTicketAddress">Địa chỉ gửi vé mời</label>
            <input id="txtTicketAddress" type="text"  class="form-control" />
        </div>
    </div>*@
    <div class="row" style="margin-left:0px;">
        <div class="form-group col-md-12">
            <label class="control-label" for="txtNote">Ghi chú</label>
            <div class="input-group">
                <input id="txtNote" class="form-control" />    
            </div>
            <div class="show-message"></div>
        </div>
    </div>
    <div class="actions col-md-12" style="margin-bottom:15px;">
        <button id="btnSave" type="button" class="btn btn-primary"><i class="icon-save"></i>&nbsp;Checkin</button>
        <button id="btnCancel" type="button" class="btn btn-primary"><i class="icon-refresh"></i>&nbsp;Reset</button>
        <button id="btnClose" type="button" class="btn btn-primary"><i class="icon-remove"></i>&nbsp;Đóng</button>
    </div>    
</div>

<script type="text/javascript">
    invite_event_anonymous_invitee.init();
</script>

