﻿@using BCRM.CheckInEvent.Models
@model InviteEventSessionChangeModel
@{
    Layout = null;
}
<div id="frmChangeSession"  style="width: 420px; display: block; top: 25%; left: 40%; overflow-x: hidden; overflow-y: hidden !important;outline:none;"  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialogSuccessLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="height: 100%;padding: 0px;border: none;">
        <div class="modal-content" style="border-radius:0px;width: 420px;">
            <div class="modal-header" style="color: #fff;background-color: #428bca;border-color: #d43f3a;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="dialogSuccessLabel">Thay đổi phiên tham dự</h4>
            </div>
            <div class="modal-body">
                 <div class="row">
                    <div class="form-group col-md-12">
                        <label class="control-label" for="dllSessions">Chọn phiên <span style="color:Red;">*</span></label>
                        <div class="control-label">
                            <select id="dllSessions" multiple class="chzn-select form-control select">
                                @foreach (var session in Model.LstSession)
                                {
                                    if (Model.LstSelectedSessionId.Contains(session.Id.ToString()))
                                    {
                                        <option selected="selected" value="@session.Id"> @session.Name</option>      
                                    }
                                    else
                                    {
                                        <option value="@session.Id"> @session.Name</option> 
                                    }
                                }
                            </select>
                        </div>
                        <div class="show-message"></div>
                    </div>
                </div>
                <hr />
                <div class="actions col-md-12" style="margin-bottom:15px;">
                    <input type="hidden" id="hdfEventId" value="@Model.EventId" />
                    <input type="hidden" id="hdfInviteEventId" value="@Model.InviteEventId" />
                    <input type="hidden" id="hdfCheckedinSessionId" value="@Model.CheckedinSessionId" />
                    <button id="btnSaveChangeSession" type="button" class="btn btn-success"><i class="icon-save"></i>&nbsp;XÁC NHẬN</button>
                    <button id="btnCancelChangeSession" type="button" class="btn btn-primary"  data-dismiss="modal"><i class="icon-remove"></i>&nbsp;Hủy</button>
                </div> 
            </div>
        </div>
    </div>
</div>

