﻿@using BCRM.CheckInEvent.Models
@model SessionCheckinInfo
@{
    Layout = null;
    var count = 0;
}
<div id="frmCheckinDetail"  style="width: 820px; display: inline-table; top: 25%; left: 20%; overflow-x: hidden; overflow-y: hidden !important;outline:none;"  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialogSuccessLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="height: 100%;padding: 0px;border: none;display:table-cell; ">
        <div class="modal-content" style="border-radius:0px;width: 820px;">
            <div class="modal-header" style="color: #fff;background-color: #428bca;border-color: #d43f3a;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="dialogSuccessLabel">Chi tiết checkin</h4>
            </div>
            <div class="modal-body">
                 <div class="row">
                    <table class="table-striped table-bordered" style="width: 100%">
                        <thead>
                            <tr>
                                <th style="width: 60px;text-align:center; ">#</th>
                                @if (Model.IsHasSession)
                                {
                                    <th>Tên phiên</th>     
                                }
                                <th style="width: 150px">Người checkin</th>
                                <th style="width: 200px">Thời gian checkin</th>
                                <th style="width: 200px">Số khách đi cùng</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.LstDetail)
                            {
                                count++;
                                <tr style="height:30px;" >
                                    <td style="text-align:center;" >@count</td>
                                    @if (Model.IsHasSession)
                                    {
                                        <td style="padding-left:5px;">@item.SessionName</td>     
                                    }
                                    <td style="padding-left:5px;">@item.CheckinBy</td>
                                    <td style="padding-left:5px;">@item.CheckinDate.ToString("dd/MM/yyyy HH:mm:ss")</td>
                                    <td style="text-align:center;" >@item.AccompanyMember </td>
                                </tr> 
                            }
                        </tbody>
                    </table>
                </div>
                <hr />
                <div class="actions col-md-12" style="margin-bottom:15px;">
                    <button id="btnCancelCheckinDetail" type="button" class="btn btn-primary"  data-dismiss="modal"><i class="icon-remove"></i>&nbsp;Đóng</button>
                </div> 
            </div>
        </div>
    </div>
</div>