﻿@using Libs
@using BCRM.CheckInEvent.Models
@model List<EventModel>
@{
    Layout = null;
    var lstEvents = (List<EventModel>)ViewBag.LstEvent;
    var defaultEvent = ViewBag.DefaultEvent == null ? new EventModel() { Id = 0 } : (EventModel)ViewBag.DefaultEvent;
}
<div id="frmAddInvitee">
    <div class="row">
        <div class="form-group col-md-4">
            <label for="ddlEventId">Sự kiện <span style="color:Red;">*</span></label>
            <select id="ddlEventId"  class="form-control">
                @foreach (var item in lstEvents)
                {
                    if (defaultEvent.Id == item.Id)
                    {
                        <option selected="selected" value="@item.Id">@item.Name</option> 
                    }
                    else
                    {
                        <option value="@item.Id">@item.Name</option>                          
                    }
                }
            </select>
        </div>
        <div class="form-group col-md-4">
            <label for="txtCustomerName">Tên khách mời <span style="color:Red;">*</span></label>
            <input type='text' id='txtCustomerName' class="form-control" />
        </div>
        <div class="form-group col-md-4">
            <label for="txtCustomerPhone">Số điện thoại <span style="color:Red;">*</span></label>
            <input type='number' id='txtCustomerPhone' class="form-control phone-search" />
        </div>
    </div>
    <div class="row">
        
    </div>
    <div class="row">
        <div class="form-group col-md-12">
            <label for="txtNote">Ghi chú</label>
            <input id="txtNote"  class="form-control" />
        </div>
    </div>
    <div class="actions col-md-12" style="margin-bottom:15px;">
        <button id="btnSave" type="button" class="btn btn-primary"><i class="icon-save"></i>&nbsp;Tạo mới</button>
        <button id="btnCancel" type="button" class="btn btn-primary"><i class="icon-refresh"></i>&nbsp;Reset</button>
        <button id="btnClose" type="button" class="btn btn-primary"><i class="icon-remove"></i>&nbsp;Đóng</button>
    </div>    
</div>

