﻿@using BCRM.CheckInEvent.Models
@model InviteEventModel
@{
    Layout = null;
    var lstEvents = (List<EventModel>)ViewBag.LstEvent;
    var lstCustomerType = (List<KeyValuePair<int, string>>)ViewBag.ListCustomerType;
}
<div id="frmEditInviteeInWebCheckIn" style="margin-top:25px;" >
    <div class="row" style="margin-left:0px;">
        <div class="form-group col-md-4">
            <label class="control-label" for="ddlEventId">Sự kiện <span style="color:Red;">*</span></label>
            <div class="input-group">
                <select id="ddlEventId"  class="form-control">
                    @foreach (var item in lstEvents)
                    {
                        if (Model.EventId == item.Id)
                        {
                            <option selected="selected" value="@item.Id">@item.Name</option> 
                        }
                        else
                        {
                            <option value="@item.Id">@item.Name</option>       
                        }
                    }
                </select>    
            </div>
            <div class="show-message"></div>
        </div>
        <div class="form-group col-md-4">
            <label class="control-label" for="txtCustomerName">Tên khách mời <span style="color:Red;">*</span></label>
            <div class="input-group">
                <input type='text' id='txtCustomerName' value="@Model.CustomerName" class="form-control" />    
            </div>
            <div class="show-message"></div>
        </div>
        <div class="form-group col-md-4">
            <label class="control-label" for="txtCustomerPhone">Số điện thoại <span style="color:Red;">*</span></label>
            <div class="input-group">
                <input type='number' id='txtCustomerPhone' value="@Model.CustomerPhone" class="form-control phone-search" />    
            </div>
            <div class="show-message"></div>
        </div>
    </div>
    <div class="row" style="margin-left:0px;">
        <div class="form-group col-md-4">
            <label class="control-label" for="txtCustomerEmail">Email <span style="color:Red;">*</span></label>
            <div class="input-group">
                <input type="text" id='txtCustomerEmail' value="@Model.CustomerEmail"  class="form-control" />
            </div>
            <div class="show-message"></div>
        </div>
        <div class="form-group col-md-4">
            <label class="control-label" for="txtCompanyName">Tên công ty</label>
            <div class="input-group">
                <input type='text' id='txtCompanyName' value="@Model.CompanyName"  class="form-control" />    
            </div>
            <div class="show-message"></div>
        </div>
        <div class="form-group col-md-2">
            <label class="control-label" for="dllCustomerType">Loại khách mời </label>
            <div class="input-group">
                <select id="dllCustomerType" class="form-control">
                    @foreach (var item in lstCustomerType)
                    {
                        if (item.Key == Model.CustomerType.GetHashCode())
                        {
                            <option selected value="@item.Key">@item.Value </option> 
                        }
                        else
                        {
                            <option value="@item.Key">@item.Value </option>  
                        }
                    }
                </select>    
            </div>
            <div class="show-message"></div>
        </div>
        <div class="form-group col-md-2">
            <label class="control-label" for="txtPositionName">Chức vụ </label>
            <div class="input-group">
                <input type="text" id='txtPositionName'  value="@Model.PositionName" class="form-control" />    
            </div>
            <div class="show-message"></div>
        </div>
    </div>
    <div class="row" style="margin-left:0px;">
        <div class="form-group col-md-2">
            <label class="control-label" for="dllPlaceOfAttendEvent">Nơi tổ chức sự kiện </label>
            <div class="input-group">
                <select id="dllPlaceOfAttendEvent"  class="form-control">
                    @foreach (var item in (List<KeyValuePair<string, string>>)ViewBag.ListPlaceAttendEvent)
                    {
                        if (Model.PlaceOfAttendEvent == item.Key)
                        {
                            <option selected value="@item.Key">@item.Value</option> 
                        }
                        else
                        {
                            <option value="@item.Key">@item.Value</option> 
                        }
                    }
                </select>
            </div>
            <div class="show-message"></div>
        </div>
        <div class="form-group col-md-2">
            <label class="control-label" for="dllRegisteredSource">Nguồn đăng kí </label>
            <div class="input-group">
                <select id="dllRegisteredSource"  class="form-control">
                    @foreach (var item in (List<KeyValuePair<int, string>>)ViewBag.ListRegisteredSource)
                    {
                        if (Model.RegisteredSource == item.Key)
                        {
                            <option selected value="@item.Key">@item.Value</option> 
                        }
                        else
                        {
                            <option value="@item.Key">@item.Value</option> 
                        }

                    }
                </select>    
            </div>
            <div class="show-message"></div>
        </div>    
        <div class="form-group col-md-4">
            <label class="control-label" for="txtIntroduceUser">Tên nhân viên mời</label>
            <div class="input-group">
                <input type='text' id='txtIntroduceUser' value="@Model.IntroduceUser"  class="form-control" />    
            </div>
            <div class="show-message"></div>
        </div>
    </div>
    @if (Model.LstSessionCheckin.Count > 0)
    {
        <div class="row" style="margin-left:0px;" name="IsHadSession">
            <div class="form-group col-md-6">
                <label for="dllSessionEdit"  class="control-label" style="white-space: nowrap;">Phiên tham dự <span style="color:Red;">*</span> </label>
                <div class="input-group">
                    <select id="dllSessionEdit" multiple class="chzn-select form-control select">
                        @foreach (var item in Model.LstSessionCheckin)
                        {
                            if (Model.LstSelectedSession.Contains(item.Key))
                            {
                               <option selected="selected" value="@item.Key">@item.Value</option>
                            }
                            else
                            {
                                <option value="@item.Key">@item.Value</option>
                            }
                        }
                    </select>
                </div>
                <div class="show-message"></div>    
            </div>
        </div>     
    }
    else
    {
       <div class="row hide" style="margin-left:0px;" name="IsHadSession">
            <div class="form-group col-md-6">
                <label for="dllSessionEdit"  class="control-label" style="white-space: nowrap;">Phiên tham dự <span style="color:Red;">*</span> </label>
                <div class="input-group">
                    <select id="dllSessionEdit" multiple class="chzn-select form-control select">
                    </select>
                </div>
                <div class="show-message"></div>    
            </div>
        </div>  
    }

    <div class="row" style="margin-left:0px;">
        <div class="form-group col-md-12">
            <label class="control-label" for="txtNote">Ghi chú</label>
            <div class="input-group">
                <input id="txtNote"  value="@Model.Note"  class="form-control" />    
            </div>
            <div class="show-message"></div>
        </div>
    </div>
    <div class="actions col-md-12" style="margin-bottom:15px;">
        <input type="hidden" id="hddId" value="@Model.Id" />
        <input type="hidden" id="hdfChkedinSsId" value="@ViewBag.CheckedinSessionId" />
        <button id="btnSave" type="button" class="btn btn-primary"><i class="icon-save"></i>&nbsp;Sửa</button>
        <button id="btnCancel" type="button" class="btn btn-primary"><i class="icon-refresh"></i>&nbsp;Reset</button>
        <button id="btnClose" type="button" class="btn btn-primary"><i class="icon-remove"></i>&nbsp;Đóng</button>
    </div>    
</div>

