﻿@using BCRM.CheckInEvent.Models
@model AnonymousInviteeInfoModel
@{
    Layout = null;
}
<div id="frmEditAnonymousInvitee">
    <div class="row"  style="margin-left:0px;" >
        <div class="form-group col-md-4">
            <label for="ddlEventId">Sự kiện <span style="color:Red;">*</span></label>
            <select id="ddlEventId"  class="form-control">
                @foreach (var item in Model.LstEvents)
                {
                    if (Model.AnonymousInfo.EventId == item.Id)
                    {
                        <option value="@item.Id" selected="selected">@item.Name</option> 
                    }
                    else
                    {
                        <option value="@item.Id">@item.Name</option>                          
                    }
                }
            </select>
        </div>
        <div class="form-group col-md-4">
            <label for="txtCustomerName">Tên khách mời <span style="color:Red;">*</span></label>
            <input type='text' id='txtCustomerName' value="@Model.AnonymousInfo.CustomerName" class="form-control" />
        </div>
        <div class="form-group col-md-4">
            <label for="txtCustomerPhone">Số điện thoại <span style="color:Red;">*</span></label>
            <input type='number' id='txtCustomerPhone' value="@Model.AnonymousInfo.CustomerPhone" class="form-control phone-search" />
        </div>
    </div>
    <div class="row"  style="margin-left:0px;">
        <div class="form-group col-md-2">
            <label for="txtCustomerBirthday">Ngày sinh </label>
            <div class='input-group date' >
                <input type='text' id='txtCustomerBirthday' value="@(Model.AnonymousInfo.CustomerBirthday == null ? "" : Model.AnonymousInfo.CustomerBirthday.Value.ToString("dd/MM/yyyy"))" class="form-control" />
            </div>
        </div>
        <div class="form-group col-md-2">
            <label for="ddlCustomerSex">Giới tính </label>
            <select id="ddlCustomerSex"  class="form-control">
                @if (Model.AnonymousInfo.CustomerSex==null)
                {
                    <option selected="selected" value=""></option>
                    <option value="0">Nữ</option>
                    <option value="1">Nam</option>
                }
                else
                {
                    if (Model.AnonymousInfo.CustomerSex == false)
                    {
                        <option value=""></option>
                        <option selected="selected" value="0">Nữ</option>
                        <option value="1">Nam</option>
                    }
                    else
                    {
                        <option value=""></option>
                        <option value="0">Nữ</option>
                        <option selected="selected" value="1">Nam</option>                     
                    }
                }
            </select>
        </div>
        <div class="form-group col-md-2">
            <label for="txtCustomerEmail">Email </label>
            <input type='text' id='txtCustomerEmail' value="@Model.AnonymousInfo.CustomerEmail" class="form-control" />
        </div>
        <div class="form-group col-md-2">
            <label for="txtCustomerRevenue">Doanh thu </label>
            <input type='text' id='txtCustomerRevenue' value="@Model.AnonymousInfo.CustomerRevenue" disabled="disabled" class="form-control" />
        </div>
        <div class="form-group col-md-2">
            <label for="dllCustomerType">Loại khách mời</label>
            <select id="dllCustomerType"  class="form-control">
                @foreach (var item in Model.ListCustomerType)
                {
                    if (item.Key == Model.AnonymousInfo.CustomerType)
                    {
                        <option selected="selected" value="@item.Key">@item.Value</option> 
                    }
                    else
                    {
                        <option value="@item.Key">@item.Value</option> 
                    }
                }
            </select>
        </div>
        <div class="form-group col-md-2">
            <label for="dllAbilityAttend">Khả năng tham dự</label>
            <select  id='dllAbilityAttend' class="form-control" >
                @foreach (var item in Model.ListAbilityAttend)
                {
                    if (item.Key == Model.AnonymousInfo.AbilityAttend)
                    {
                        <option selected="selected" value="@item.Key">@item.Value</option> 
                    }
                    else
                    {
                        <option value="@item.Key">@item.Value</option> 
                    }
                }
            </select>
        </div>
    </div>
    <div class="row"  style="margin-left:0px;">
        <div class="form-group col-md-4">
            <label for="txtCompanyName">Công ty </label>
            <input type='text' id='txtCompanyName' value="@Model.AnonymousInfo.CompanyName" class="form-control" />
        </div>
        <div class="form-group col-md-2">
            <label for="dllCustomerPosition">Chức vụ </label>
            <select  id='dllCustomerPosition' class="form-control" >
                @foreach (var item in Model.ListCustomerPosition)
                {
                    if (item.Key == Model.AnonymousInfo.CustomerPosition)
                    {
                        <option selected="selected" value="@item.Key">@item.Value</option> 
                    }
                    else
                    {
                        <option value="@item.Key">@item.Value</option> 
                    }
                }
            </select>
        </div>
        <div class="form-group col-md-2">
            <label for="dllCompanySize">Quy mô </label>
            <select  id='dllCompanySize' class="form-control" >
                @foreach (var item in Model.ListCompanySize)
                {
                    if (item.Key == Model.AnonymousInfo.CompanySize)
                    {
                        <option selected="selected" value="@item.Key">@item.Value</option> 
                    }
                    else
                    {
                        <option value="@item.Key">@item.Value</option> 
                    }
                }
            </select>
        </div>
        <div class="form-group col-md-4">
            <label for="txtCompanyAddress">Địa chỉ công ty / khách hàng</label>
            <input type='text' id='txtCompanyAddress' value="@Model.AnonymousInfo.CompanyAddress" class="form-control" />
        </div>
    </div>
    <div class="row"  style="margin-left:0px;">
        <div class="form-group col-md-2">
            <label for="dllCustomerVip">Khách Vip </label>
            <select id="dllCustomerVip"  class="form-control">
                @if (Model.AnonymousInfo.CustomerVip == 0)
                {
                    <option selected="selected" value="0">Khách thường</option>
                    <option value="1">Khách VIP</option>
                }
                else
                {
                    <option value="0">Khách thường</option>
                    <option selected="selected" value="1">Khách VIP</option> 
                }
            </select>
        </div>
        <div class="form-group col-md-8">
            <label for="txtTicketAddress">Địa chỉ gửi vé mời</label>
            <input id="txtTicketAddress" type="text" value="@Model.AnonymousInfo.TicketAddress" class="form-control" />
        </div>
        <div class="form-group col-md-2">
            <label for="txtAccompanyMember">Khách đi cùng</label>
            <input id="txtAccompanyMember" type="text"  value="@Model.AnonymousInfo.AccompanyMember" class="form-control" />
        </div>
    </div>
    <div class="row"  style="margin-left:0px;">
        <div class="form-group col-md-12">
            <label for="txtNote">Ghi chú</label>
            <input id="txtNote" type="text" value="@Model.AnonymousInfo.Note"  class="form-control" />
        </div>
    </div>
    <div class="actions col-md-12" style="margin-bottom:15px;">
        <input type="hidden" value="@Model.AnonymousInfo.Id" id="hdfId" />
        <button id="btnSave" type="button" class="btn btn-primary"><i class="icon-save"></i>&nbsp;Lưu</button>
        <button id="btnClose" type="button" class="btn btn-primary"><i class="icon-remove"></i>&nbsp;Đóng</button>
    </div>    
</div>

<script type="text/javascript">
    anonymous_invitee_edit.init();
</script>
