﻿@using BCRM.CheckInEvent.Models
@model List<EventModel>
@{
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
    var currentUsser = (UserModel)ViewBag.CurrentUser;
    var defaultEvent = ViewBag.DefaultEvent == null ? new EventModel(){Id=0} : (EventModel)ViewBag.DefaultEvent;
}
<style type="text/css">
    input.phone-search::-webkit-outer-spin-button,
    input.phone-search::-webkit-inner-spin-button 
    {
        -webkit-appearance: none;
        margin: 0;
    }
    input.phone-search {
        -moz-appearance:textfield;
    }
</style>
<h1 style="padding-left: 15px;">Quản lý checkin</h1>
@using (Html.BeginForm("ExportExcel", "InviteEvent", FormMethod.Post, new { id = "inviteEventForm" , target="_blank" }))
{
    <div class="panel panel-search"  id="frmSearchInviteEvent">
        <div class="panel-heading"><i class="icon-cogs"></i> &nbsp; Tìm kiếm thông tin khách mời</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3">
                    <textarea name="TextSearch" rows="3" cols="5" tabindex="1" class="form-control" id="txtSearchText" placeholder="Tìm kiếm theo họ tên, email,điện thoại ... "></textarea>
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-5">
                            <select name="EventIdWebCheckIn" id="selEvent" class="form-control" title="Danh sách các sự kiện diễn ra">
                                @foreach (var e in Model)
                                {
                                    if (e.Id == defaultEvent.Id && e.IsInWebCheckIn == defaultEvent.IsInWebCheckIn)
                                    {
                                        <option selected="selected" value="@(e.Id + "_" + (e.IsInWebCheckIn == true ? "1" : "0"))">@e.Name</option>                                               
                                    }
                                    else
                                    {
                                        <option value="@(e.Id + "_" + (e.IsInWebCheckIn == true ? "1" : "0"))">@e.Name</option> 
                                    }
                                }
                            </select>        
                        </div>       
                        <div class="col-md-3">
                            <select name="SessionId" id="selSessionId" class="form-control" title="Lựa chọn phiên tham dự"></select>
                        </div>
                        <div class="col-md-4">
                            <select name="CheckInStatus" tabindex="4" id="selIsCheckIn" class="form-control" title="Thông tin khách đã check in hay chưa">
                                <option value="">--Tất cả trạng thái--</option>
                                <option value="0">Chưa CheckIn</option>
                                <option value="1">Đã CheckIn</option>
                            </select>        
                        </div>   
                    </div>
                    <div class="row" style="margin-top:3px;">
                        <div class="col-md-3">
                            <input type="text" tabindex="2" name="InviteeCode" id="txtInviteeCode" placeholder="- Mã khách mời -" class="form-control" />
                        </div>
                        <div class="col-md-3 hide">
                            <input type="number" tabindex="2" name="InviteeCodeInWebCheckin" id="txtInviteeCodeInWebCheckin" placeholder="- Mã khách mời -" class="form-control phone-search" />
                        </div>
                        <div class="col-md-2">
                            <input type="text" tabindex="3" name="Code" id="txtCode" placeholder="- Mã vé -" class="form-control" />
                        </div>
                        <div class="col-md-3">
                            <select name="ImportanceLevel" tabindex="5" id="selImportantanceLevel" class="form-control" title="Mức độ quan trọng">
                                <option value="">- Mức độ quan trọng -</option>
                                <option value="0">Khách thường</option>
                                <option value="1">Khách VIP</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <select name="CustomerType" tabindex="5" id="selCustomerType" class="form-control" title="Loại khách">
                                <option value="">- Lựa chọn loại khách -</option>
                                <option value="0">Khách chính</option>
                                <option value="1">Khách đính kèm</option>
                                <option value="2">Khách vãng lai</option>
                            </select>
                        </div> 
                    </div>    
                </div>
            </div>
            <div style="width: 100%;margin-top:3px; margin-bottom: 3px;">
                <button id="btnSearch" class="btn btn-success" type="button">
                    <i class="icon-search"></i>&nbsp;Tìm kiếm</button>
                @if (currentUsser.HasPermisson(BCRM.CheckInEvent.Common.Permission.Manager) ||
                     currentUsser.HasPermisson(BCRM.CheckInEvent.Common.Permission.Admin))
                {
                    <button id="btnExport" class="btn btn-success" type="submit">
                        <i class="icon-refresh"></i>&nbsp;Xuất Excel</button>    
                }
                <button id="btnAddAnonymous" class="btn btn-success" type="button"><i class="icon-plus"></i>&nbsp;Khách vãng lai</button>
            </div>
        </div>
    </div>
}

<div class="panel panel-result" id="SearchInviteEvent">
    <div class="panel-heading"><i class="icon-reorder"></i> &nbsp; Danh sách khách mời checkin</div>
    <div class="panel-body">
        
    </div>
</div>
<div class="panel panel-action hide" id="AddAnonymousInfo">
    <div class="panel-heading"><i class="icon-reorder"></i> &nbsp; Thêm thông tin khách vãng lai</div>
    <div class="panel-body">
        
    </div>
</div>
<div class="panel panel-action hide" id="AccompanyInvitee">
    <div class="panel-heading"><i class="icon-reorder"></i> &nbsp; Thêm số lượng khách đi cùng</div>
    <div class="panel-body">
        
    </div>
</div>
<div id="AddInvitee" class="hide">
    <div class="info">
        @Html.Action("Create", "InviteEvent")
    </div>
</div>
<div class="panel panel-action hide" id="EditInviteeInWebCheckin">
    <div class="panel-heading"><i class="icon-reorder"></i> &nbsp; Sửa thông tin khách mời</div>
    <div class="panel-body">
        
    </div>
</div>
<div id="divAddCheckinNum" >
    <div class="info"></div>
</div>
<div id="wrapChangeSession">
    
</div>
<div id="wrapCheckinDetail">

</div>
<script type="text/javascript">
    invite_event_index.init();
</script>

