﻿@using BCRM.CheckInEvent.Models
@using Libs
@model EventIndexModel
@{
    var count = 0;
    Layout = null;
    var pager = (PagerModel)ViewBag.Pager;
    pager.ActionScript = "invite_event_index.search";
    var isInWebCheckIn = (bool)ViewBag.IsInWebCheckin;
    var lstPermissionCheckIn = (Dictionary<int, bool>)ViewBag.LstPermissionCheckIn;

    var currUser = (UserModel)ViewBag.CurrentUser;
}
@if (isInWebCheckIn)
{
    <table id="tablInviteEvent" class="table-striped table-bordered" style="width: 100%">
        <thead>
            <tr>
                <th style="width: 150px">Thông tin vé mời</th>
                <th>Thông tin</th>
                <th style="width: 150px">Trạng thái</th>
                <th style="width: 100px"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.LstInviteEvents)
            {
                count++;
                <tr>
                    <td>
                        <div style="width: 100%;margin-left: 5px;">
	                        <div style="width: 100px;float:left;">
		                        <a href="javascript:void(0);">Mã khách mời </a>
		                        <span style="float:right;" >:</span>
	                        </div>
	                        <div style="margin-left:100px;">
		                        <b>@((string.IsNullOrEmpty(item.EventCode) ? "" : item.EventCode + "-") + item.Id.ToString())</b>
	                        </div>
                        </div>
                        <div style="width: 100%;margin-left: 5px;">
	                        <div style="width: 100px;float:left;">
		                        <a href="javascript:void(0);">Mã vé </a>
		                        <span style="float:right;" >:</span>
	                        </div>
	                        <div style="margin-left:100px;">
		                        <b>@item.Code</b>
	                        </div>
                        </div>
                        <div style="width:100%;clear: left;" >
                            @if (item.IsNotSuggest == false)
                            {
                                <span class="label  label-warning">Khách chính</span>
                            }
                            else
                            {
                                <span class="label  label-info">Khách vãng lai</span>
                            }
                        </div>
                        <div style="width:100%; clear: left;" >
                            @if (item.CustomerType.GetHashCode() == 1)
                            {
                                <span class="label  label-warning">Môi giới tự do</span>
                            }
                            else if (item.CustomerType.GetHashCode() == 2)
                            {
                                <span class="label  label-info">Môi giới doanh nghiệp</span>
                            }
                            else if (item.CustomerType.GetHashCode() == 0 || item.CustomerType.GetHashCode() == 3
                                    || item.CustomerType.GetHashCode() == 4 || item.CustomerType.GetHashCode() == 5
                                    || item.CustomerType.GetHashCode() == 6)
                            {
                                <span class="label label-success">@item.CustomerType.ToCustomerType()</span> 
                            }
                            else if (item.CustomerType.GetHashCode() == 3)
                            {
                                <span class="label label-success">Chủ đầu tư</span> 
                            }
                        </div>
                    </td>
                    <td style="padding-left:3px;">
                        <div style="width: 100%;display: inline-block"><a href="javascript:void(0);">Sự kiện :</a> @item.EventName</div>
                        <div style="width: 50%;display: inline-block"><a href="javascript:void(0);">Tên khách mời :</a> <b style="font-size: 15px;">@item.CustomerName</b> </div>
                        <div style="width: 50%;display: inline-block;float: right"><a href="javascript:void(0);">SĐT :</a> @item.CustomerPhone</div>
                        <div style="width: 50%;display: inline-block;"><a href="javascript:void(0);">Email :</a> @(item.CustomerEmail) </div>
                        <div style="width: 50%;display: inline-block;float:right;"><a href="javascript:void(0);">Chức vụ :</a> @(item.PositionName) </div>
                        <div style="width: 50%;display: inline-block;"><a href="javascript:void(0);">Công ty :</a> @(item.CompanyName) </div>
                        <div style="width: 50%;display: inline-block;float:right;"><a href="javascript:void(0);">Địa điểm tham dự :</a> @(item.PlaceOfAttendEvent) </div>
                        <div style="width: 50%;display: inline-block;"><a href="javascript:void(0);">Khách đi cùng :</a> @(item.AccompanyMember) </div>
                        <div style="width: 100%"><a href="javascript:void(0);">Ghi chú :</a> @item.Note</div>
                    </td>
                    <td style="padding-left:3px;">
                        @if(item.IsUsingSession)
                        {
                            foreach(var checkinStatus in item.LstSessionCheckin)
                            {
                                <div style="width:100%;background:rgb(221, 221, 221);padding-left: 5px;margin-top:5px;">@(checkinStatus.Key  )</div>
                                <div style="width:100%;">@Html.Raw(checkinStatus.Value)</div>
                            }
                        }
                        else
                        {
                            if (item.IsCheckIn == true)
                            {
                                <span class="label  label-success">Đã check in</span>
                            }
                            else
                            {
                                <span class="label  label-danger">Chưa check in</span> 
                            }
                        }
                    </td>
                    <td style="padding-left:3px;">
                        <div class="dropdown">
                          <button class="btn btn-primary small dropdown-toggle" style="font-size:11px !important;line-height:13px;padding:4px 10px;" type="button" data-toggle="dropdown">
                              <i class="icon-cog"></i>&nbsp;Quản lý
                              <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu">
                            @if (lstPermissionCheckIn.ContainsKey(item.EventId))
                            {
                                if (lstPermissionCheckIn[item.EventId] == true)
                                {
                                    if(item.IsUsingSession)
                                    {
                                        <li><a name="btnCheckInWebCheckin" eid ="@item.EventId" uie="@item.Id" href="javascript:void(0);"><i class="icon-ok-sign"></i>&nbsp;Check In</a></li>
                                        @*if (item.IsCheckIn == true)
                                        {
                                             <li><a name="btnAccompanyInWebCheckin" eid ="@item.EventId" uie="@item.Id"  nai="@item.AccompanyMember"  href="javascript:void(0);"><i class="icon-group"></i>&nbsp;Khách đi cùng</a></li>
                                        }*@
                                    }
                                    else
                                    {
                                        if (item.IsCheckIn == false)
                                        {
                                            <li><a name="btnCheckInWebCheckin" eid ="@item.EventId" uie="@item.Id" href="javascript:void(0);"><i class="icon-ok-sign"></i>&nbsp;Check In</a></li>
                                        }
                                        else
                                        {
                                            <li><a name="btnCancelInWebCheckin" eid ="@item.EventId" uie="@item.Id" href="javascript:void(0);"><i class="icon-remove"></i>&nbsp;Hủy Check in</a></li>  
                                            <li><a name="btnAccompanyInWebCheckin" eid ="@item.EventId" uie="@item.Id"  nai="@item.AccompanyMember"  href="javascript:void(0);"><i class="icon-group"></i>&nbsp;Khách đi cùng</a></li>
                                        }
                                    }
                                }
                            }
                            @if (item.IsNotSuggest == true)
                            {
                                <li><a name="btnEditWebCheckin" uid ="@item.Id"  href="javascript:void(0);"><i class="icon-edit"></i>&nbsp;Sửa</a></li>     
                            }
                            @if (item.IsUsingSession)
                            {
                                <li><a name="btnChangeSession" uid ="@item.Id" eid="@item.EventId" href="javascript:void(0);"><i class="icon-edit"></i>&nbsp;Sửa phiên</a></li>
                                     
                            }
                            @if (item.IsCheckIn)
                            {
                                <li><a name="btnCheckinDetail" uid ="@item.Id" eid="@item.EventId" href="javascript:void(0);"><i class="icon-edit"></i>&nbsp;Chi tiết checkin</a></li>    
                            }
                          </ul>
                        </div>
                    </td>
                </tr>    
            }
        </tbody>
     </table>
}
else
{
     @*<table id="tablInviteEvent" class="table-striped table-bordered" style="width: 100%">
        <thead>
            <tr>
                <th style="width: 220px">Thông tin vé mời</th>
                <th>Thông tin</th>
                <th style="width: 100px">Trạng thái</th>
                <th style="width: 100px"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.LstInviteEvents)
            {
                count++;
                <tr>
                    <td>
                        <div style="width: 100%;margin-left: 5px;">
                            <div style="width: 100px;float:left;">
                                <a href="javascript:void(0);">Mã khách mời </a>
                                <span style="float:right;" >:</span>
                            </div>
                            <div style="margin-left:100px;">
                                <b>@(item.EventId.ToString() + "-" + item.InviteId.ToString() + "-" + item.AttachId.ToString())</b>
                            </div>
                        </div>
                        <div style="width: 100%;margin-left: 5px;">
                            <div style="width: 100px;float:left;">
                                <a href="javascript:void(0);">Mã vé </a>
                                <span style="float:right;" >:</span>
                            </div>
                            <div style="margin-left:100px;">
                                <b>@item.Code</b>
                            </div>
                        </div>
                        <div style="width:100%; margin-left:100px;clear: left; ">
                            @if (item.CustomerVip == 1)
                            {
                                <span class="label  label-success">Khách VIP</span>
                            }
                            else
                            {
                                <span class="label  label-default">Khách thường</span>
                            }    
                        </div>
                        <div style="width:100%; margin-left:100px;">
                            @if (item.CustomerName == item.OwnerCustomer)
                            {
                                if (item.CustomerId == 0)
                                {
                                    <span class="label label-info">Khách vãng lai</span>   
                                }
                                else
                                {
                                    <span class="label label-warning">Khách chính</span>      
                                }

                            }
                            else
                            {
                                <span class="label label-primary">Khách đính kèm</span>
                            }
                        </div>
                    </td>
                    <td style="padding-left:3px;">
                        <div style="width: 100%;display: inline-block"><a href="javascript:void(0);">Sự kiện :</a> @item.EventName</div>
                        <div style="width: 60%;display: inline-block"><a href="javascript:void(0);">Tên khách mời :</a> <b style="font-size: 15px;">@item.CustomerName</b> </div>
                        <div style="width: 40%;display: inline-block;float: right"><a href="javascript:void(0);">SĐT :</a> @item.CustomerPhone</div>
                        <div style="width: 60%;display: inline-block"><a href="javascript:void(0);">Email :</a> @item.CustomerEmail</div>
                        <div style="width: 40%;display: inline-block;float: right"><a href="javascript:void(0);">Chức vụ :</a> @(item.CustomerPosition.ToCustomerPositionName())</div>
                        <div style="width: 60%;display: inline-block;"><a href="javascript:void(0);">Tên khách mời chính :</a> @item.OwnerCustomer</div>
                        <div style="width: 40%;display: inline-block;float: right"><a href="javascript:void(0);">Khách đi cùng :</a> @(item.AccompanyMember)  người</div>
                        <div style="width: 100%"><a href="javascript:void(0);">Công ty :</a> @item.CompanyName</div>
                        <div style="width: 100%"><a href="javascript:void(0);">Ghi chú :</a> @item.Note</div>
                    </td>
                    <td style="padding-left:3px;">

                        @if (item.IsCheckIn == true)
                        {
                            <span class="label  label-success">Đã check in</span>
                        }
                        else
                        {
                            <span class="label  label-danger">Chưa check in</span> 
                        }
                    </td>
                    <td style="padding-left:3px;">
                        <div class="dropdown">
                          <button class="btn btn-primary small dropdown-toggle" style="font-size:11px !important;line-height:13px;padding:4px 10px;" type="button" data-toggle="dropdown">
                          <i class="icon-cog"></i>&nbsp;Quản lý
                          <span class="caret"></span></button>
                          <ul class="dropdown-menu">
                            @if (item.InviteId != 0)
                            {
                                if (item.CustomerId == 0)
                                {
                                    <li>
                                        <a name="btnEdit" uid ="@item.InviteId"  href="javascript:void(0);"><i class="icon-edit"></i>&nbsp;Sửa</a>
                                    </li>
                                }
                            }
                            @if (lstPermissionCheckIn.ContainsKey(item.EventId))
                            {
                                if (lstPermissionCheckIn[item.EventId] == true)
                                {
                                    if (item.IsCheckIn == false)
                                    {
                                        <li>
                                            <a name="btnCheckIn" eid ="@item.EventId" uie="@item.InviteId" uiea="@item.AttachId"  href="javascript:void(0);"><i class="icon-ok-sign"></i>&nbsp;Check In</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <a name="btnCancel" eid ="@item.EventId" uie="@item.InviteId" uiea="@item.AttachId"  href="javascript:void(0);"><i class="icon-remove"></i>&nbsp;Hủy Check in</a>    
                                        </li>
                                        <li>
                                            <a name="btnAccompany" eid ="@item.EventId" uie="@item.InviteId" uiea="@item.AttachId" nai="@item.AccompanyMember"  href="javascript:void(0);"><i class="icon-group"></i>&nbsp;Khách đi cùng</a>     
                                        </li>
                                    }
                                }
                            }
                          </ul>
                        </div>
                    </td>
                </tr>    
            }
        </tbody>
     </table>*@
}
@Html.Action("Paging", "Common", new { pager = ViewBag.Pager })


